@using OutWeb.Models.FrontModels.News.AnnouncementLatest
@model AnnouncementLatestResult

@{
    ViewBag.Title = "新聞 公告 聲明";
    ViewBag.BodyClass = "News Announcement";
    string img_path = "/Images/";
}

@section breadcrumb {
    <li><a href="~/News">最新訊息 活動公告</a></li>
    <li>@ViewBag.Title</li>
}

<!-- <ul class="tabs list-inline text-center">
    <li><a class="current" href="~/News/AnnouncementLatest">最新訊息</a></li>
    <li><a href="~/News/AnnouncementList?typeID=1">中央新聞</a></li>
    <li><a href="~/News/AnnouncementList?typeID=2">中央公告</a></li>
    <li><a href="~/News/AnnouncementList?typeID=4">中央聲明</a></li>
</ul> -->

<h1 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h1>

@* 每頁10筆資料，列出新聞公告聲明的所有文章，依日期最新到最舊 *@
<div class="articles">
    @foreach (var data in Model.Data)
    {
        string listLink = Url.Content("~/News/AnnouncementList?typeID=" + data.CateIDInfo.Keys.First());
        string img = string.IsNullOrEmpty(data.Img) ? @"/Content/Images/NoImages.jpg" : img_path + data.Img;
        string imgClass = string.IsNullOrEmpty(data.Img) ? "hidden" : "";
        string contentUrl = Url.Content("~/News/AnnouncementContent?ID=" + data.ID + "&typeID=" + data.CateIDInfo.Keys.First());
        string remark = string.IsNullOrEmpty(data.Content) || data.Content.Length == 0 ? "" : data.Content.Length > 145 ? @"<p>" + data.Content.Substring(0, 145) + "...</p>" : "<p>" + data.Content + "</p>";
        string labelStyle = data.CateIDInfo.Keys.First() == 1 ? "label-danger" : data.CateIDInfo.Keys.First() == 2 ? "label-pink" : data.CateIDInfo.Keys.First() == 4 ? "label-purple" : "";
        <article class="article">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-12 @imgClass">
                    <a href="@contentUrl" class="thumbnail">
                        @* 沒有圖檔的替代圖 *@
                        <img src="@img" alt="">
                    </a>
                </div>
                <div class="col-lg-9 col-sm-8 col-12">
                    @*
                        新聞         class + label-danger
                        公告         class + label-pink
                        聲明         class + label-purple
                    *@
                    <a class="label @labelStyle" href="@listLink">@data.CateIDInfo.Values.First()</a>
                    <small class="date">@data.PublishDateString</small>
                    <h3><a href="@contentUrl">@data.Title</a></h3>
                    @* 摘要 取前 145 個字，有資料的話才顯示 *@
                    <p>@Html.Raw(remark)</p>
                    <a href="@contentUrl" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
                </div>
            </div>
        </article>
    }

    @*<article class="article">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-12">
                    <a href="~/News/AnnouncementContent" class="thumbnail">
                        <img src="http://api.ning.com/files/ymSmd4em4y3tD9NclSe*1XQevDWPd-1a*I2DF5kGhLCF11rLpSuIOsB0zctgpvX4sGlyJCd0EZjvBifYYqTbHFVodRmJ9iZe/2018118026.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-9 col-sm-8 col-12">
                    <a class="label label-pink" href="~/News/AnnouncementList">中央公告</a>
                    <small class="date">2018-01-20</small>
                    <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                    摘要 取前 145 個字，有資料的話才顯示
                    <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                    <a href="~/News/AnnouncementContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
                </div>
            </div>
        </article>

        <article class="article">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-12">
                    <a href="~/News/AnnouncementContent" class="thumbnail">
                        <img src="http://api.ning.com/files/ymSmd4em4y3tD9NclSe*1XQevDWPd-1a*I2DF5kGhLCF11rLpSuIOsB0zctgpvX4sGlyJCd0EZjvBifYYqTbHFVodRmJ9iZe/2018118026.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-9 col-sm-8 col-12">
                    <a class="label label-purple" href="~/News/AnnouncementList">中央聲明</a>
                    <small class="date">2018-01-20</small>
                    <h3><a href="~/News/AnnouncementContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                    摘要 取前 145 個字，有資料的話才顯示
                    <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                    <a href="~/News/AnnouncementContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
                </div>
            </div>
        </article>*@
</div>

@*<ul class="pager list-inline text-center">
        <li class="prev">
            有資料的話才顯示
            <a href="#">
                <i class="oi" data-glyph="chevron-left"></i>
                <span class="hidden-xs">上一頁</span>
            </a>
        </li>
        <li>
            <form action="" class="form-inline">
                第
                <select name="" id="" class="form-element">
                    <option value="1">1</option>
                </select>
                頁
            </form>
        </li>
        <li class="next">
            有資料的話才顯示
            <a href="#">
                <span class="hidden-xs">下一頁</span>
                <i class="oi" data-glyph="chevron-right"></i>
            </a>
        </li>
    </ul>*@

@if (Model.Data.Count > 0)
{
    string disabledPre = Model.Pagination.CurrentPage == 1 ? "hidden" : "";
    string disabledNext = Model.Pagination.CurrentPage == Model.Pagination.LastPage ? "hidden" : "";

    <ul class="pager list-inline text-center">
        <li class="prev">
            @* 有資料的話才顯示 *@
            <a @disabledPre href="javascript:;" onclick="paginationSubmit('@Model.Pagination.PrePage');">
                <i class="oi" data-glyph="chevron-left"></i>
                <span class="hidden-xs">上一頁</span>
            </a>
        </li>

        <li>
            <form action="/News/AnnouncementLatest" method="get" class="form-inline">
                第
                <select name="page" id="numPage" class="form-element">
                    @for (int i = Model.Pagination.FirstPage; i <= Model.Pagination.LastPage; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                頁
            </form>
        </li>

        <li class="next">
            @* 有資料的話才顯示 *@
            <a @disabledNext href="javascript:;" onclick="paginationSubmit('@Model.Pagination.NextPage');">
                <span class="hidden-xs">下一頁</span>
                <i class="oi" data-glyph="chevron-right"></i>
            </a>
        </li>
    </ul>

}

@section scripts {
    <script>

        $('#numPage').val('@Model.Pagination.CurrentPage');

        function paginationSubmit(page) {
            $('#numPage').val(page);
            $('form')[0].submit();
        }

        $('.pager').find('select').on('change', function () {
            var page = $(this).val();
            paginationSubmit(page);

        });
    </script>
}