@using OutWeb.Models.FrontModels.News.AnnouncementLatest
@using OutWeb.App_GlobalResources
@model AnnouncementLatestContent

@{
    ViewBag.Title = Model.Data.Title; @* 文章標題 *@
    ViewBag.BodyClass = "News Announcement";
    ViewBag.Url = HttpContext.Current.Request.Url.AbsoluteUri; //FB share url
    string listLink = Url.Content("~/News/AnnouncementList?typeID=" + Model.Data.CateIDInfo.Keys.First() + "&langCode=" + @Res.lang);
    string img_path = "/Images/";
}

@section breadcrumb {
    <li><a href="~/News?langCode=@Res.lang">@Res.nav_news</a></li>
    <li><a href="~/News/AnnouncementLatest?langCode=@Res.lang">@Res.news_announLatest</a></li>
    <li><a href="@listLink">@Model.Data.CateIDInfo.Values.First()</a></li> @* 分類名稱 *@
}

@* @section scripts {
    <script src="~/Content/js/tabs.js"></script>
} *@

<h1 class="sr-only">@Res.news_centralNews</h1>

<p class="back">
    <a href="@listLink"><i class="oi" data-glyph="caret-left"></i> @Res.back_list</a>
</p>

<h2 class="title">
    <a class="label label-danger" href="@listLink">@Model.Data.CateIDInfo.Values.First()</a> @* 分類名稱 *@
    <small class="date">@Model.Data.PublishDateString</small>
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="tab-content clearfix editor">

    @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
    <!-- <ul class="tabs list-inline">
        <li>
            <a class="tab-nav current" href="#tab1">文章分頁1</a>
        </li>
        <li>
            <a class="tab-nav" href="#tab2">文章分頁2文章分頁2文章分頁2</a>
        </li>
        <li>
            <a class="tab-nav" href="#tab3">文章分頁3文章分頁3</a>
        </li>
    </ul> -->
    @* 文章分頁，有資料才顯示，第一頁 class + current *@
    @{ 
        //====FB share===
        System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>|&nbsp;|\n|&quot;|\r"); //filter all html tag
        string desReTag = rx.Replace(Model.Data.Content, "");
        string remark = string.IsNullOrEmpty(desReTag) || desReTag.Length == 0 ? "" : desReTag.Length > 130 ? desReTag.Substring(0, 130) + "..." : desReTag; //catch 130 words
        string img = string.IsNullOrEmpty(Model.Data.Img) ? "" : img_path + Model.Data.Img;
        ViewBag.Description = remark; //FB share description
        ViewBag.Image = img; //FB share img

        //=================
    }
    <div class="tab current" id="">
        @Html.Raw(Model.Data.Content)

        <p class="counter">瀏覽人次：1234</p>
    </div>

    @*<div class="tab" id="tab2">
            <p>文章分頁2</p>
        </div>

        <div class="tab" id="tab3">
            <p>文章分頁3</p>
        </div>*@
</div>

<ul class="pager list-unstyled">
    @if (!string.IsNullOrEmpty(Model.PreviousIDStr))
    {
        <li class="prev">
            @* 此分類的上一篇文章(日期較舊)，有資料的話才顯示 *@
            <a href="@Url.Content("~/News/AnnouncementContent?ID=" + Model.PreviousIDStr + "&typeID=" + Model.Data.CateIDInfo.Keys.First() + "&langCode=" + Res.lang)">
                <i class="oi" data-glyph="chevron-left"></i>
                @Res.pre_article
            </a>
        </li>
    }

    @if (!string.IsNullOrEmpty(Model.NextIDStr))
    {

        <li class="next">
            @* 此分類的下一篇文章(日期較新)，有資料的話才顯示 *@
            <a href="@Url.Content("~/News/AnnouncementContent?ID=" + Model.NextIDStr + "&typeID=" + Model.Data.CateIDInfo.Keys.First()+ "&langCode=" + Res.lang)">
                @Res.next_article
                <i class="oi" data-glyph="chevron-right"></i>
            </a>
        </li>
    }
</ul>