@using OutWeb.Models.FrontModels.News.EventLatestModels
@using OutWeb.App_GlobalResources
@model EventContent
@{
    ViewBag.Title = Model.Data.Title; @* 文章標題 *@
ViewBag.BodyClass = "News Event";
string img_path = "/Images/";
string log_count = (string)ViewData["log_count"];

}

@section breadcrumb {
    <li><a href="~/News?langCode=@Res.lang">@Res.nav_news</a></li>
    <li><a href="~/News/EventLatest?langCode=@Res.lang">@Res.news_event</a></li>
    <li><a href="~/News/EventLatest?langCode=@Res.lang">@Res.news_eventLatest</a></li>
}

@section css {
    <link href="~/Content/js/fancybox/jquery.fancybox.min.css" rel="stylesheet">
}

@section scripts {
    <!-- <script src="~/Content/js/load-image.all.min.js"></script> -->
    <script src="~/Content/js/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Content/js/jquery.lazyload.min.js"></script>
    <script>

        // $(".prolist li a").each(function(){
        //     var imgUrl = $(this).attr("href");

        //     loadImage(
        //         imgUrl,
        //         function (img) {
        //             // document.getElementById("test").appendChild(img);
        //             $(this).append(img);
        //         },
        //         {orientation: true}
        //     );
        // });

        $(function() {
            $("img.lazy").lazyload({
                effect : "fadeIn"
            });
        });

        // 產生圖說
        $("a[data-fancybox]").each(function(){
            var caption = $(this).children(".caption").html();
            $(this).data('caption', caption);
        });
    </script>
}

<h1 class="sr-only">@Res.news_event</h1>

<p class="back">
    <a href="~/News/EventLatest"><i class="oi" data-glyph="caret-left"></i> @Res.back_list</a>
</p>

<h2 class="title">
    <a class="label label-warning" href="~/News/EventLatest?langCode=@Res.lang">@Res.news_eventLatest</a>
    <small class="date">@Model.Data.PublishDateString</small>
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="tab-content clearfix editor">

    @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
    @if (Model.Data.PagingList.Count > 1)
    {
        <ul class="tabs list-inline">
            @foreach (var paging in Model.Data.PagingList)
            {
                int index = Model.Data.PagingList.IndexOf(paging);
                string currentStyle = string.IsNullOrEmpty(paging.Current) ? "" : "current";
                string pagingUrl = Url.Content("~/News/EventLatestContent?ID=" + Model.Data.ID + "&pagingID=" + paging.ID);
                <li>
                    <a class="tab-nav @currentStyle" href="@pagingUrl">@paging.Title</a>
                </li>
            }
        </ul>
    }
    @{ 
        var pageInfo = Model.Data.PagingList.Where(s => !string.IsNullOrEmpty(s.Current)).FirstOrDefault();
        string repImg = Model.Data.Img; //代表圖    
    }
    
   @if (pageInfo != null)
   {

    @* 文章分頁，有資料才顯示，第一頁 class + current *@
    //===FB share=====
    System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>|&nbsp;|\n|&quot;|\r"); //filter all html tag
    string desReTag = rx.Replace(pageInfo.Description, "");
    string remark = string.IsNullOrEmpty(desReTag) || desReTag.Length == 0 ? "" : desReTag.Length > 130 ? desReTag.Substring(0, 130) + "..." : desReTag; //catch 130 words
    string imgPath = string.IsNullOrEmpty(repImg) ? "" : img_path + repImg;
    ViewBag.Description = remark; //FB share description
    ViewBag.Image = imgPath; //FB share img
    //=================


    <div class="tab current">

        @* 文章的呈現方式，有資料才顯示 *@
        <div class="mb-16 clearfix">
            @Html.Raw(pageInfo.Description)
        </div>

        @* 影片的呈現方式，有資料才顯示 *@
        @if (pageInfo.InternetSiteList.Count > 0)
            {
            <ul class="prolist row row-center list-unstyled">

                @foreach (var siteUrl in pageInfo.InternetSiteList)
                {
                    var urlSplit = siteUrl.Split(new string[] { @"https://youtu.be/" }, StringSplitOptions.RemoveEmptyEntries);
                    string url = string.Empty;
                    if (urlSplit.Count() > 0)
                    {
                        url = siteUrl.Replace("https://youtu.be/", "https://www.youtube.com/embed/") + "/" + urlSplit[0];
                    }

                    <li class="col-md-6 col-12">
                        <figure class="pro">
                            <div class="embed-responsive">
                                @*<iframe src="@siteUrl" frameborder="0" allowfullscreen></iframe>*@
                                <iframe src="@url" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </figure>
                    </li>
                }
            </ul>
        }

        @* 照片的呈現方式，有資料才顯示 *@
        @if (pageInfo.ImagesList.Count > 0)
            {
            <ul class="prolist list-inline">

                @foreach (var img in pageInfo.ImagesList)
                {
                    string imgUrl = img_path + img.ImgFileName;
                    string description = string.IsNullOrEmpty(img.ImgDescription) ? "" : @"<span class=""caption"">" + img.ImgDescription + "</span>";
                    <li>
                        <figure class="pro">
                            <a href="@imgUrl" class="thumbnail" data-fancybox="gallery">
                                <img class="lazy" data-original="@imgUrl" alt="">
                                @* 圖說沒有資料則不顯示 *@
                                @Html.Raw(description)
                            </a>
                        </figure>
                    </li>
                }
            </ul>
        }

        <p class="counter">瀏覽人次：@log_count</p>
    </div>
   }

</div>

<ul class="pager list-unstyled">
    @if (!string.IsNullOrEmpty(Model.PreviousIDStr))
    {
        <li class="prev">
            @* 此分類的上一篇文章(日期較舊)，有資料的話才顯示 *@
            <a href="@Url.Action("EventLatestContent", "News", new { ID = Model.PreviousIDStr })">
                <i class="oi" data-glyph="chevron-left"></i>
                @Res.pre_article
            </a>
        </li>
    }

    @if (!string.IsNullOrEmpty(Model.NextIDStr))
    {

        <li class="next">
            @* 此分類的下一篇文章(日期較新)，有資料的話才顯示 *@
            <a href="@Url.Action("EventLatestContent", "News", new { ID = Model.NextIDStr })">
                @Res.next_article
                <i class="oi" data-glyph="chevron-right"></i>
            </a>
        </li>
    }
</ul>