@using OutWeb.Models.FrontModels.News.EventStatesModels
@using OutWeb.App_GlobalResources
@model EventStatesResult

@{
    Dictionary<int, string> stateInfo = TempData["StateInfo"] as Dictionary<int, string>;
    ViewBag.Title = stateInfo.Values.First(); @* 分類名稱 *@
ViewBag.BodyClass = "News Event";
string img_path = "/Images/";

}

@section breadcrumb {
    <li><a href="~/News?langCode=@Res.lang">@Res.nav_news</a></li>
    <li><a href="~/News/EventLatest?langCode=@Res.lang">@Res.news_event</a></li>
    <li><a href="~/News/EventStatesCategory?langCode=@Res.lang">@Res.news_eventStatesCategory</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">@Res.news_event</h1>

<!-- <ul class="tabs list-inline text-center">
    <li><a href="~/News/EventLatest">最新活動</a></li>
    <li><a class="current" href="~/News/EventStatesCategory">各州活動</a></li>
</ul> -->

<p class="back">
    <a href="~/News/EventStatesCategory?langCode=@Res.lang"><i class="oi" data-glyph="caret-left"></i> @Res.back_pre</a>
</p>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

@if (!string.IsNullOrEmpty(Model.Url))
{

    var urlSplit = Model.Url.Split(new string[] { @"https://youtu.be/" }, StringSplitOptions.RemoveEmptyEntries);
    string url = string.Empty;
    if (urlSplit.Count() > 0)
    {
        url = Model.Url.Replace("https://youtu.be/", "https://www.youtube.com/embed/") + "/" + urlSplit[0];
    }
    <h3 class="title2">@Res.live_video</h3>
    <div class="row mb-24">
        <div class="col-lg-6 col-md-8 col-sm-9 col-12">
            <div class="embed-responsive">
                <iframe src="@url" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

}

@if (Model.Data.Count > 0)
{
<h3 class="title2">@Res.acitivity_info</h3>
}

@* 每頁5筆資料 *@
<div class="articles">

    @foreach (var data in Model.Data)
    {
        string img = string.IsNullOrEmpty(data.Img) ? @"/Content/Images/NoImages.jpg" : img_path + data.Img;
        string imgClass = string.IsNullOrEmpty(data.Img) ? "hidden" : "";
        string contentUrl = Url.Content("~/News/EventStatesContent?statesTypeID=" + Model.StatesTypeID + "&ID=" + data.ID + "&langCode=" + Res.lang);
        string remark = string.IsNullOrEmpty(data.Remark) || data.Remark.Length == 0 ? "" : data.Remark.Length > 145 ? @"<p>" + data.Remark.Substring(0, 145) + "...</p>" : "<p>" + data.Remark + "</p>";


        <article class="article">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-12 @imgClass">
                    <a href="@contentUrl" class="thumbnail">
                        @* 沒有圖檔的替代圖 *@
                        <img src="@img" alt="">
                    </a>
                </div>
                <div class="col-lg-9 col-sm-8 col-12">
                    <small class="date">@data.PublishDateString</small>
                    <h3><a href="@contentUrl">@data.Title</a></h3>
                    @* 摘要 取前 145 個字，有資料的話才顯示 *@
                    <p>@Html.Raw(remark)</p>
                    <a href="@contentUrl" class="more"> @Res.more <i class="oi" data-glyph="caret-right"></i></a>
                </div>
            </div>
        </article>
    }

    @*<article class="article">
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-12">
                    <a href="~/News/EventStatesContent" class="thumbnail">
                        沒有圖檔的替代圖
                        <img src="~/Content/Images/NoImages.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-9 col-sm-8 col-12">
                    <small class="date">2018-01-20</small>
                    <h3><a href="~/News/EventStatesContent">2018 台灣民政府受國際邀約 代表台灣參加全球人才高峰會</a></h3>
                    摘要 取前 145 個字，有資料的話才顯示
                    <p>台灣民政府代表與蘇黎世美國商會CEO喜相逢，2018 世界網絡論壇 台灣民政府 代表台灣參加 成果豐碩！台灣民政府 打破國際困境，領台灣人第一次參加世界網絡論壇。</p>
                    <a href="~/News/EventStatesContent" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
                </div>
            </div>
        </article>*@
</div>

@if (Model.Data.Count > 0)
{
    string disabledPre = Model.Pagination.CurrentPage == 1 ? "hidden" : "";
    string disabledNext = Model.Pagination.CurrentPage == Model.Pagination.LastPage ? "hidden" : "";

    <ul class="pager list-inline text-center">
        <li class="prev">
            @* 有資料的話才顯示 *@
            <a @disabledPre href="javascript:;" onclick="paginationSubmit('@Model.Pagination.PrePage');">
                <i class="oi" data-glyph="chevron-left"></i>
                <span class="hidden-xs">@Res.pre_page</span>
            </a>
        </li>

        <li>
            <form action="/News/EventStatesList" method="get" class="form-inline">
                <select name="page" id="numPage" class="form-element">
                    @for (int i = Model.Pagination.FirstPage; i <= Model.Pagination.LastPage; i++)
                {
                        <option value="@i">@i</option>
                    }
                </select>
                <input name="statesTypeID" value="@Model.StatesTypeID" hidden />
            </form>
        </li>

        <li class="next">
            @* 有資料的話才顯示 *@
            <a @disabledNext href="javascript:;" onclick="paginationSubmit('@Model.Pagination.NextPage');">
                <span class="hidden-xs">@Res.next_page</span>
                <i class="oi" data-glyph="chevron-right"></i>
            </a>
        </li>
    </ul>

}

@section scripts {
    <script>

        $('#numPage').val('@Model.Pagination.CurrentPage');

        function paginationSubmit(page) {
            $('#numPage').val(page);
            $('form')[0].submit();
        }

        $('.pager').find('select').on('change', function () {
            var page = $(this).val();
            paginationSubmit(page);

        });
    </script>
}