@using OutWeb.Models.FrontModels.News.EventStatesModels
@using OutWeb.App_GlobalResources
@model EventStatesContent

@{
    ViewBag.Title = Model.Data.Title; @* 文章標題 *@
ViewBag.BodyClass = "News Event";
string listTitleUrl = Url.Content("~/News/EventStatesList?statesTypeID=" + Model.StatesCateInfo.Keys.First() + "&langCode=" + Res.lang);
string img_path = "/Images/";

}

@section breadcrumb {
    <li><a href="~/News?langCode=@Res.lang">@Res.nav_news</a></li>
    <li><a href="~/News/EventLatest?langCode=@Res.lang">@Res.news_event</a></li>
    <li><a href="~/News/EventStatesCategory?langCode=@Res.lang">@Res.news_eventStatesCategory</a></li>
    <li><a href="@listTitleUrl">@Model.StatesCateInfo.Values.First()</a></li>
}

@section css {
    <link href="~/Content/js/fancybox/jquery.fancybox.min.css" rel="stylesheet">
}

@section scripts {
    <script src="~/Content/js/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/Content/js/jquery.lazyload.min.js"></script>
    <script>
        $(function() {
            $("img.lazy").lazyload({
                effect : "fadeIn"
            });
        });

        // 產生圖說
        $("a[data-fancybox]").each(function(){
            var caption = $(this).children(".caption").html();
            $(this).data('caption', caption);
        });
    </script>
}

<h1 class="sr-only">@Res.news_event</h1>

<p class="back">
    <a href="@listTitleUrl"><i class=" oi" data-glyph="caret-left"></i> @Res.back_list</a>
</p>

<h2 class="title">
    <a class="label label-orange" href="@listTitleUrl">@Model.StatesCateInfo.Values.First()</a> @* 分類名稱 *@
    <small class="date">@Model.Data.PublishDateString</small>
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="tab-content clearfix editor">

    @if (Model.Data.PagingList.Count > 1)
    {
        <ul class="tabs list-inline">
            @foreach (var paging in Model.Data.PagingList)
            {
                int index = Model.Data.PagingList.IndexOf(paging);
                string currentStyle = string.IsNullOrEmpty(paging.Current) ? "" : "current";
                string pagingUrl = Url.Content("~/News/EventStatesContent?statesTypeID=" + Model.StatesCateInfo.Keys.First() + "&ID=" + Model.Data.ID + "&pagingID=" + paging.ID + "&langCode=" + Res.lang);
                <li>
                    <a class="tab-nav @currentStyle" href="@pagingUrl">@paging.Title</a>
                </li>
            }
        </ul>
    }

    @{ 
        var pageInfo = Model.Data.PagingList.Where(s => !string.IsNullOrEmpty(s.Current)).FirstOrDefault();
        string repImg = Model.Data.Img; //代表圖    
     }

    @if (pageInfo != null)
    {

        @* 文章分頁，有資料才顯示，第一頁 class + current *@
        //===FB share=====
        System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>|&nbsp;|\n|&quot;|\r"); //filter all html tag
        string desReTag = rx.Replace(pageInfo.Description, "");
        string remark = string.IsNullOrEmpty(desReTag) || desReTag.Length == 0 ? "" : desReTag.Length > 130 ? desReTag.Substring(0, 130) + "..." : desReTag; //catch 130 words
        string imgPath = string.IsNullOrEmpty(repImg) ? "" : img_path + repImg;
        ViewBag.Description = remark; //FB share description
        ViewBag.Image = imgPath; //FB share img
        //=================
        <div class="tab current">
            <div class="mb-16 clearfix">
                @Html.Raw(pageInfo.Description)
            </div>

            @* 影片的呈現方式，有資料才顯示 *@
            @if (pageInfo.InternetSiteList.Count > 0)
            {
        <ul class="prolist row row-center list-unstyled">

            @foreach (var siteUrl in pageInfo.InternetSiteList)
                {
                    var urlSplit = siteUrl.Split(new string[] { @"https://youtu.be/" }, StringSplitOptions.RemoveEmptyEntries);
                    string url = string.Empty;
                    if (urlSplit.Count() > 0)
                    {
                        url = siteUrl.Replace("https://youtu.be/", "https://www.youtube.com/embed/") + "/" + urlSplit[0];
                    }

                <li class="col-md-6 col-12">
                    <figure class="pro">
                        <div class="embed-responsive">
                            @*<iframe src="@siteUrl" frameborder="0" allowfullscreen></iframe>*@
                            <iframe src="@url" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </figure>
                </li>
                }
        </ul>
        }

        @* 照片的呈現方式，有資料才顯示 *@
        @if (pageInfo.ImagesList.Count > 0)
            {

        <ul class="prolist list-inline">

            @foreach (var img in pageInfo.ImagesList)
                {
                    string imgUrl = img_path + img.ImgFileName;
                    string description = string.IsNullOrEmpty(img.ImgDescription) ? "" : @"<span class=""caption"">" + img.ImgDescription + "</span>";
                <li>
                    <figure class="pro">
                        <a href="@imgUrl" class="thumbnail" data-fancybox="gallery">
                            <img class="lazy" data-original="@imgUrl" alt="">
                            @* 圖說沒有資料則不顯示 *@
                            @Html.Raw(description)
                        </a>
                    </figure>
                </li>
                }
        </ul>
        }
    </div>

    }



    @*文章分頁，有資料才顯示，第一頁 class + current
        <div class="tab current" id="tab1">
            <div class="mb-16 clearfix">
                <h3>台灣民政府 中央參眾議院聯合審查會議修正 台灣基本法</h3>
                <p>前言：</p>
                <p>台灣：福爾摩沙周邊群島和澎湖列島(總稱台灣)是大日本帝國台灣人民必須守護的領域，為確保領域內人民與全世界人民能共同合作，取得進步繁榮成果,讓民主、自由、和平帶來福祉。台灣民政府管轄權力源自日本天皇陛下天賦不可放棄權利及義務和人民的期盼而信託，其權力應由人民所組成代表行使，其福祉由領域內人民分享，這是萬國公法與國際法的精神與目的，台灣基本法以此精神與目的為法源，台灣民政府以天皇陛下詔書、舊金山和平條約、戰爭法精神與目的而組織，並制定台灣基本法。</p>
                <p>大日本帝國台灣人民期盼和平、自由、民主、穩定與繁榮已久，深知人類相互關係良好的源由，是堅信仁慈、公義、和平與自由的基本價值，是一心守護領域內人民安全與生存，是竭力守護賴以生存而進步的基本價值。</p>
                <p>堅信任何國家都需要尊重基本價值，而且必須優先遵守萬國公法與國際法，這是經過歷史反覆教訓而實證的法則，也是人類追求維持國際和平、穩定與繁榮的法則。</p>
                <p>台灣民政府領域內所有人民，誓以台灣基本法來守護人類賴以生存與進步的基本價值，是為了台灣人民的生存和進步。</p>
            </div>

             影片的呈現方式，有資料才顯示
            <ul class="prolist row row-center list-unstyled">
                <li class="col-md-6 col-12">
                    <figure class="pro">
                        <div class="embed-responsive">
                            <iframe src="https://www.youtube.com/embed/2tctSxl1mmw" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </figure>
                </li>
                <li class="col-md-6 col-12">
                    <figure class="pro">
                        <div class="embed-responsive">
                            <iframe src="https://www.youtube.com/embed/2tctSxl1mmw" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </figure>
                </li>
            </ul>

             照片的呈現方式，有資料才顯示
            <ul class="prolist row row-center list-unstyled">
                <li class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <figure class="pro">
                        <a href="http://via.placeholder.com/800x600" class="thumbnail" target="new">
                            <img src="http://via.placeholder.com/800x600" alt="">
                            圖說沒有資料則不顯示
                            <span class="caption">這裡是圖說</span>
                        </a>
                    </figure>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <figure class="pro">
                        <a href="http://via.placeholder.com/800x1200" class="thumbnail" target="new">
                            <img src="http://via.placeholder.com/800x1200" alt="">
                            <span class="caption">這裡是圖說</span>
                        </a>
                    </figure>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <figure class="pro">
                        <a href="http://via.placeholder.com/800x510?text=No+Images" class="thumbnail" target="new">
                            <img src="http://via.placeholder.com/800x510?text=No+Images" alt="">
                        </a>
                    </figure>
                </li>
                <li class="col-lg-3 col-md-4 col-sm-6 col-12">
                    <figure class="pro">
                        <a href="http://via.placeholder.com/1000x400" class="thumbnail" target="new">
                            <img src="http://via.placeholder.com/1000x400" alt="">
                            <span class="caption">這裡是圖說圖說圖說圖說圖說圖說圖說圖說圖說圖說圖說圖說圖說圖說圖說</span>
                        </a>
                    </figure>
                </li>
            </ul>
        </div>

        <div class="tab" id="tab2">
            <p>文章分頁2</p>
        </div>

        <div class="tab" id="tab3">
            <p>文章分頁3</p>
        </div>*@
</div>

@*<ul class="pager list-unstyled">

        <li class="prev">
             此分類的上一篇文章(日期較舊)，有資料的話才顯示
            <a href="~/News/EventHistoryContent">
                <i class="oi" data-glyph="chevron-left"></i>
                @Res.pre_article
            </a>
        </li>

        <li class="next">
             此分類的下一篇文章(日期較新)，有資料的話才顯示
            <a href="~/News/EventHistoryContent">
                @Res.next_article
                <i class="oi" data-glyph="chevron-right"></i>
            </a>
        </li>
    </ul>*@

<ul class="pager list-unstyled">
    @if (!string.IsNullOrEmpty(Model.PreviousIDStr))
    {
        <li class="prev">
            @* 此分類的上一篇文章(日期較舊)，有資料的話才顯示 *@
            <a href="@Url.Content("~/News/EventStatesContent?statesTypeID=" + Model.StatesCateInfo.Keys.First() + "&ID=" + Model.PreviousIDStr+ "&langCode=" + Res.lang)">
                <i class="oi" data-glyph="chevron-left"></i>
                @Res.pre_article
            </a>
        </li>
    }

    @if (!string.IsNullOrEmpty(Model.NextIDStr))
    {

        <li class="next">
            @* 此分類的下一篇文章(日期較新)，有資料的話才顯示 *@
            <a href="@Url.Content("~/News/EventStatesContent?statesTypeID=" + Model.StatesCateInfo.Keys.First() + "&ID=" + Model.NextIDStr+ "&langCode=" + Res.lang)">
                @Res.next_article
                <i class="oi" data-glyph="chevron-right"></i>
            </a>
        </li>
    }
</ul>