@using OutWeb.Models.FrontModels.News.FocusNewsModels
@using OutWeb.App_GlobalResources
@model FocusNewsContent
@{
    ViewBag.Title = Model.Data.Title;
    ViewBag.BodyClass = "News Focus";
    string listTitleUrl = Url.Content("~/News/FocusList?focusTypeID=" + Model.FocusCateInfo.Keys.First());
    string img_path = "/Images/";
    string log_count = (string)ViewData["log_count"];
}

@section breadcrumb {
    <li><a href="~/News?langCode=@Res.lang">@Res.nav_news</a></li>
    <li><a href="~/News/FocusCategory?langCode=@Res.lang">@Res.news_focusCategory</a></li>
    <li><a href="@listTitleUrl">@Model.FocusCateInfo.Values.First()</a></li> @* 分類名稱 *@
}

@* @section scripts {
    <script src="~/Content/js/tabs.js"></script>
} *@

<h1 class="sr-only">@Res.news_focusCategory</h1>

<p class="back">
    <a href="@listTitleUrl"><i class="oi" data-glyph="caret-left"></i> @Res.back_list</a>
</p>

<h2 class="title">
    <small class="date">@Model.Data.PublishDateString</small>
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="tab-content clearfix editor">
    @*文章分頁 頁籤切換，只有一頁就不顯示頁籤*@
    @if (Model.Data.PagingList.Count > 1)
    {
        <ul class="tabs list-inline">
            @foreach (var paging in Model.Data.PagingList)
            {
                int index = Model.Data.PagingList.IndexOf(paging);
                string currentStyle = string.IsNullOrEmpty(paging.Current) ? "" : "current";
                string pagingUrl = Url.Content("~/News/FocusContent?focusTypeID=" + Model.FocusCateInfo.Keys.First() + "&ID=" + Model.Data.ID + "&pagingID=" + paging.ID + "&langCode=" + Res.lang);
                <li>
                    <a class="tab-nav @currentStyle" href="@pagingUrl">@paging.Title</a>
                </li>
            }
        </ul>
    }

    @{ 
        var pageInfo = Model.Data.PagingList.Where(s => !string.IsNullOrEmpty(s.Current)).FirstOrDefault();
        string repImg = Model.Data.Img; //代表圖

    }

    @if (pageInfo != null)
    {
        @* 文章分頁，有資料才顯示，第一頁 class + current *@
        //===FB share=====
        System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>|&nbsp;|\n|&quot;|\r"); //filter all html tag
        string desReTag = rx.Replace(pageInfo.Description, "");
        string remark = string.IsNullOrEmpty(desReTag) || desReTag.Length == 0 ? "" : desReTag.Length > 130 ? desReTag.Substring(0, 130) + "..."  : desReTag; //catch 130 words
        string img = string.IsNullOrEmpty(repImg) ? "" : img_path + repImg;
        ViewBag.Description = remark; //FB share description
        ViewBag.Image = img; //FB share img
        //=================
        <div class="tab current">
            <div class="mb-16 clearfix">
                @Html.Raw(pageInfo.Description.ToString())
            </div>
        </div>
    }

</div>

<p class="counter">@log_count</p>

<!--
<ul class="pager list-unstyled">

    <li class="prev">
        @* 此分類的上一篇文章(日期較舊)，有資料的話才顯示 *@
        <a href="~/News/FocusContent">
            <i class="oi" data-glyph="chevron-left"></i>
            上一篇
        </a>
    </li>

    <li class="next">
        @* 此分類的下一篇文章(日期較新)，有資料的話才顯示 *@
        <a href="~/News/FocusContent">
            下一篇
            <i class="oi" data-glyph="chevron-right"></i>
        </a>
    </li>

</ul>
-->
