@model Dictionary<int, string>
@using OutWeb.App_GlobalResources
@{
    ViewBag.Title = Res.news_focusCategory;
    ViewBag.BodyClass = "News Focus";
}

@section breadcrumb {
    <li><a href="~/News?langCode=@OutWeb.App_GlobalResources.Res.lang">@Res.nav_news</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h1>

<ul class="list-category list-unstyled row row-center">
@foreach (var focus in Model)
{
        <li class="col-lg-3 col-md-4 col-sm-6 col-12">
            <a href="@Url.Content("~/News/FocusList?focusTypeID=" + focus.Key + "&langCode=" + @OutWeb.App_GlobalResources.Res.lang)">
                <span>@focus.Value</span>
            </a>
        </li>
    }
    @*
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>所有美國官司案</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類2</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類3</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類4</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類5</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/News/FocusList">
            <span>焦點專欄分類6</span>
        </a>
    </li>
    *@
</ul>