@using System.Data
@{
    ViewBag.Title = "美國政府明白表示：「反對台灣獨立」?";
    ViewBag.BodyClass = "News Focus";

    DataTable dt = (DataTable)ViewData["dt"];

    string id = "";
    string cate_id = "";
    string c_title = "";
    string c_desc = "";
    string cate_name = "";
    string lang_id = "";
    string lang_name = "";
    string c_date = "";

    string ci = "";
    string cj = "";
    string str_tab = "";
    string c_tab = "";
    string c_tab_nav = "";

    if (dt.Rows.Count > 0)
    {
        id = dt.Rows[0]["id"].ToString();
        c_title = dt.Rows[0]["c_title"].ToString();
        c_desc = dt.Rows[0]["c_desc"].ToString();
        c_date = dt.Rows[0]["c_date"].ToString();
        cate_id = dt.Rows[0]["cate_id"].ToString();
        cate_name = dt.Rows[0]["cate_name"].ToString();
        lang_id = dt.Rows[0]["lang_id"].ToString();
        lang_name = dt.Rows[0]["lang_name"].ToString();
    }
    else
    {
        id = "";
        c_title = "";
        c_desc = "";
        c_date = "";
        cate_id = "";
        cate_name = "";
        lang_id = "";
        lang_name = "";
    }
}

@section breadcrumb {
    <li><a href="~/News">最新訊息 活動公告</a></li>
    <li><a href="~/News/FocusCategory">焦點專欄</a></li>
    <li>@cate_name</li> @* 分類名稱 *@
}

@section scripts {
    <script src="~/Content/js/tabs.js"></script>
}

<h1 class="sr-only">焦點專欄</h1>

<p class="back">
    <a href="@Url.Content("~/News/FocusList?cate_id=" + cate_id)"><i class="oi" data-glyph="caret-left"></i> 回文章列表</a>
</p>

<h2 class="title">
    <small class="date">@c_date</small>
    <span class="underline">@c_title</span>
    <div class="addthis_inline_share_toolbox"></div>
</h2>

<div class="tab-content clearfix editor">
    @*文章分頁 頁籤切換，只有一頁就不顯示頁籤*@
    @if (dt.Rows.Count > 1)
    {
        <ul class="tabs list-inline">
            @for (int j = 0; j < dt.Rows.Count; j++)
            {
                c_title = dt.Rows[j]["c_title"].ToString();
                cj = j.ToString();
                if (j == 0)
                {
                    c_tab_nav = "tab-nav current";
                }
                else
                {
                    c_tab_nav = "tab-nav";
                }

                <li>
                    <a class="@c_tab_nav" href="#@str_tab-@cj">@Html.Raw(c_title)</a>
                </li>
            }
        </ul>
    }

    @if (dt.Rows.Count > 0)
    {
        for (int j = 0; j < dt.Rows.Count; j++)
        {
            cj = j.ToString();

            c_title = dt.Rows[j]["c_title"].ToString();
            c_desc = dt.Rows[j]["c_desc"].ToString();

            if (j == 0)
            {
                c_tab = "tab current";
            }
            else
            {
                c_tab = "tab";
            }

            <div class="@c_tab" id="@str_tab-@cj">
                <!-- <h3>@Html.Raw(c_title)</h3> -->
                @Html.Raw(c_desc)
            </div>
        }
    }

</div>
<!--
<ul class="pager list-unstyled">

    <li class="prev">
        @* 此分類的上一篇文章(日期較舊)，有資料的話才顯示 *@
        <a href="~/News/FocusContent">
            <i class="oi" data-glyph="chevron-left"></i>
            上一篇
        </a>
    </li>

    <li class="next">
        @* 此分類的下一篇文章(日期較新)，有資料的話才顯示 *@
        <a href="~/News/FocusContent">
            下一篇
            <i class="oi" data-glyph="chevron-right"></i>
        </a>
    </li>

</ul>
-->