@using OutWeb.Models.FrontModels.AboutModels.EducationModels
@using OutWeb.App_GlobalResources
@model EducationContent
@{
    ViewBag.Title = Model.Data.Title;
    ViewBag.BodyClass = "AboutUs Education";
    string listTitleUrl = Url.Content("~/AboutUs/EducationList?eduTypeID=" + Model.EduCateInfo.Keys.First());
}

@section breadcrumb {
    <li><a href="~/AboutUs?langCode=@Res.lang">@Res.nav_aboutUs</a></li>
    <li><a href="~/AboutUs/EducationCategory?langCode=@Res.lang">@Res.aboutUs_eduCategory</a></li>
    <li><a href="@listTitleUrl">@Model.EduCateInfo.Values.First()</a></li> @* 分類名稱 *@
}

@* @section scripts {
    <script src="~/Content/js/tabs.js"></script>
} *@

<h1 class="sr-only">@Res.aboutUs_eduCategory</h1>

<p class="back">
    <a href="@listTitleUrl"><i class="oi" data-glyph="caret-left"></i> @Res.back_list</a>
</p>

<h2 class="title">
    <small class="date">@Model.Data.PublishDateString</small>
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="tab-content clearfix editor">
    @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
    @if (Model.Data.PagingList.Count > 1)
    {
        <ul class="tabs list-inline">
            @foreach (var paging in Model.Data.PagingList)
            {
                int index = Model.Data.PagingList.IndexOf(paging);
                string currentStyle = string.IsNullOrEmpty(paging.Current) ? "" : "current";
                string pagingUrl = Url.Content("~/AboutUs/EducationContent?eduTypeID=" + Model.EduCateInfo.Keys.First() + "&ID=" + Model.Data.ID + "&pagingID=" + paging.ID + "&langCode=" + Res.lang);
                <li>
                    <a class="tab-nav @currentStyle" href="@pagingUrl">@paging.Title</a>
                </li>
            }
        </ul>
    }

    @{ var pageInfo = Model.Data.PagingList.Where(s => !string.IsNullOrEmpty(s.Current)).FirstOrDefault();}
    @if (pageInfo != null)
    {
        @* 文章分頁，有資料才顯示，第一頁 class + current *@
        <div class="tab current">
            <div class="mb-16 clearfix">
                @Html.Raw(pageInfo.Description.ToString())
            </div>
        </div>
    }
</div>

<!--
<ul class="pager list-unstyled">

    <li class="prev">
        @* 此分類的上一篇文章(日期較舊)，有資料的話才顯示 *@
        <a href="~/AboutUs/EducationContent">
            <i class="oi" data-glyph="chevron-left"></i>
            上一篇
        </a>
    </li>

    <li class="next">
        @* 此分類的下一篇文章(日期較新)，有資料的話才顯示 *@
        <a href="~/AboutUs/EducationContent">
            下一篇
            <i class="oi" data-glyph="chevron-right"></i>
        </a>
    </li>
</ul>
-->