@model Dictionary<int, string>
@using OutWeb.App_GlobalResources
@{
    ViewBag.Title = @Res.aboutUs_eduCategory;
    ViewBag.BodyClass = "AboutUs Education";
}

@section breadcrumb {
    <li><a href="~/AboutUs">@Res.aboutUs_sub</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h1>

<ul class="list-category list-unstyled row row-center">
@foreach (var edu in Model)
{
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="@Url.Content("~/AboutUs/EducationList?eduTypeID=" + edu.Key)">
            <span>@edu.Value</span>
        </a>
    </li>
}
    @*
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/AboutUs/EducationList">
            <span>台灣戰爭史 回顧</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/AboutUs/EducationList">
            <span>台灣歷史 郭弘斌</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/AboutUs/EducationList">
            <span>一行最多十個字字字字</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/AboutUs/EducationList">
            <span>兩行最多二十字字字字兩行最多二十字字字字</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/AboutUs/EducationList">
            <span>教育專欄分類3</span>
        </a>
    </li>
    <li class="col-lg-3 col-md-4 col-sm-6 col-12">
        <a href="~/AboutUs/EducationList">
            <span>教育專欄分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4分類4</span>
        </a>
    </li>
   *@
</ul>
