@using System.Data
@using System.Text.RegularExpressions
@{
    //分類名稱
    ViewBag.Title = "台灣戰爭史回顧";
    ViewBag.BodyClass = "AboutUs Education";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_cate = (DataTable)ViewData["d_cate"];

    string id = "";
    string cate_id = "";
    string c_title = "";
    string c_desc = "";
    string cate_name = "";
    string lang_id = "";
    string lang_name = "";
    string c_date = "";


    cate_id = d_cate.Rows[0]["id"].ToString();
    cate_name = d_cate.Rows[0]["cate_name"].ToString();


    //Page 參數設定
    //------------------------------------
    int row_count = 0;
    int page_count = 10;
    int page = (int)ViewData["page"];
    int pre_page = 0;
    int top_page = 0;
    int next_page = 0;
    int end_page = 0;
    int min_row = 0;
    int max_row = 0;
    int total_page = 0;
    int s_page = 0;
    int e_page = 0;
    int pp_count = 0;
    string page_active = "";
    //------------------------------------
    //Page 計算
    //-----------------------------------
    row_count = dt.Rows.Count;
    if (row_count % page_count > 0)
    {
        total_page = (row_count / page_count) + 1;
    }
    else
    {
        total_page = row_count / page_count;
    }

    if (page > total_page)
    {
        page = total_page;
    }
    else if (page < 1)
    {
        page = 1;
    }

    top_page = 1;

    if (page > 1)
    {
        pre_page = page - 1;
    }
    else
    {
        pre_page = 1;
    }

    if (total_page > page)
    {
        next_page = page + 1;
    }
    else
    {
        next_page = total_page;
    }

    end_page = total_page;

    min_row = 10 * (page - 1) + 1;
    max_row = 10 * page;
    if (max_row > row_count)
    {
        max_row = row_count;
    }

    pp_count = Convert.ToInt16(page / 10);
    s_page = pp_count * 10 + 1;
    e_page = (pp_count + 1) * 10;
    if (e_page > total_page)
    {
        e_page = total_page;
    }
    //-----------------------------------
}

@section breadcrumb {
    <li><a href="~/AboutUs">什麼是台灣民政府</a></li>
    <li><a href="~/AboutUs/EducationCategory">教育專欄</a></li>
    <li>@cate_name</li>
}

<h1 class="sr-only">教育專欄</h1>

<p class="back">
    <a href="~/AboutUs/EducationCategory"><i class="oi" data-glyph="caret-left"></i> 回上層</a>
</p>

<h2 class="title">
    <span class="underline">@cate_name</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>


@* 每頁10筆資料 *@
<div class="articles">

    @if (dt.Rows.Count > 0)
    {
        for (int i = min_row - 1; i < max_row; i++)
        {
            id = dt.Rows[i]["id"].ToString();
            c_title = dt.Rows[i]["c_title"].ToString();
            c_desc = dt.Rows[i]["c_desc"].ToString();
            c_date = dt.Rows[i]["c_date"].ToString();
            //編輯器內容 取前 145 個字，有資料的話才顯示
            if (c_desc.Length > 145)
            {
                c_desc = c_desc.Substring(0, 145) + "...";
            }

            <article class="article">
                <small class="date">@c_date</small>
                <h3><a href="@Url.Content("~/AboutUs/EducationContent?id=" + id)">@c_title</a></h3>
                @Html.Raw(c_desc)
                <a href="@Url.Content("~/AboutUs/EducationContent?id=" + id)" class="more"> 閱讀全文 <i class="oi" data-glyph="caret-right"></i></a>
            </article>

        }
    }


</div>


<ul class="pager list-inline text-center">
  @* 有資料的話才顯示 *@
  @if (dt.Rows.Count > 0)
  {
    <li class="prev hidden">
        <a href="@Url.Content("~/AboutUs/EducationList?cate_id=" + cate_id + "&page=" + top_page.ToString())">
            <i class="oi" data-glyph="chevron-left"></i>
            <span class="hidden-xs">第一頁</span>
        </a>
    </li>
    <li class="prev hidden">
        <a href="@Url.Content("~/AboutUs/EducationList?cate_id=" + cate_id + "&page=" + pre_page.ToString())">
            <i class="oi" data-glyph="chevron-left"></i>
            <span class="hidden-xs">上一頁</span>
        </a>
    </li>
    <li>
        <form action="" class="form-inline">
            第
            <select name="page" id="page" class="form-element" onchange="page_link();">

                @for (int i = s_page; i <= e_page; i++)
                {
                    if (i == page)
                    {
                        page_active = " selected ";
                    }
                    else
                    {
                        page_active = "";
                    }
                    <option value="@i" @page_active>@i</option>
                }
            </select>
            頁
        </form>
   </li>
   <li class="next">
        <a href="@Url.Content("~/AboutUs/EducationList?cate_id=" + cate_id + "&page=" + next_page.ToString())">
            <span class="hidden-xs">下一頁</span>
            <i class="oi" data-glyph="chevron-right"></i>
        </a>
    </li>

    <li class="next">
        <a href="@Url.Content("~/AboutUs/EducationList?cate_id=" + cate_id + "&page=" + end_page.ToString())">
            <span class="hidden-xs">最後一頁</span>
            <i class="oi" data-glyph="chevron-right"></i>
        </a>
    </li>
  }
</ul>

<script>
    function page_link()
    {
        var c_page = $("#page").find(":selected").val();
        window.location(@Url.Content("~/AboutUs/EducationList?cate_id=" + cate_id) + "&page=" + c_page);
    }
</script>

@functions
{
    /// <summary>
    /// 移除html tag
    /// </summary>
    /// <param name="htmlSource"></param>
    /// <returns></returns>
    public static string RemoveHTMLTag(string htmlSource)
    {
        //移除  javascript code.
        htmlSource = Regex.Replace(htmlSource, @"<script[\d\D]*?>[\d\D]*?</script>", String.Empty);

        //移除html tag.
        htmlSource = Regex.Replace(htmlSource, @"<[^>]*>", String.Empty);
        return htmlSource;
    }
}
