@using System.Data
@using OutWeb.App_GlobalResources
@{
    ViewBag.Title = "";
    ViewBag.BodyClass = "AboutUs Profile";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_cate = (DataTable)ViewData["d_cate"];
    DataTable d_detail = (DataTable)ViewData["d_detail"];
    string id = (string)ViewData["id"];
    string cate_id = (string)ViewData["cate_id"];
    string c_id = "";
    string c_cate_id = "";
    string c_title = "";
    string c_desc = "";
    //string cate_id = "";
    string lang_id = "";
    string lang_name = "";
    string cate_name = "";
    string cate_desc = "";
    string ci = "";
    string cj = "";
    string str_tab = "";
    string c_tab = "";
    string c_tab_nav = "";
    string cFile = "Law";

    for(int i=0;i < d_cate.Rows.Count; i++)
    {
        c_cate_id = d_cate.Rows[i]["id"].ToString();
        cate_name = d_cate.Rows[i]["cate_name"].ToString();
        if (cate_id == c_cate_id)
        {
            ViewBag.Title = cate_name;
        }
    }
}

@section breadcrumb {
    <li><a href="~/AboutUs?langCode=@Res.lang">@Res.aboutUs_sub</a></li>
    <li><a href="~/AboutUs/Position?langCode=@Res.lang">@Res.aboutUs</a></li>
    <li><a href="~/AboutUs/Law?cate_id=4&langCode=@Res.lang">@Res.law</a></li>
    <li>@ViewBag.Title</li>
}

@* @section scripts {
    <script src="~/Content/js/tabs.js"></script>
} *@

<h1 class="sr-only">@Res.aboutUs - @Res.law</span></h1>

<ul class="tabs list-inline text-center">
    <li class="back"><a href="~/AboutUs/Position"><i class="oi" data-glyph="caret-left"></i> @Res.back</a></li>
    @for (int i = 0; i < d_cate.Rows.Count; i++)
    {
        ci = d_cate.Rows[i]["id"].ToString();
        str_tab = "tab" + ci;
        c_cate_id = d_cate.Rows[i]["id"].ToString();
        cate_name = d_cate.Rows[i]["cate_name"].ToString();
        if (cate_id == c_cate_id)
        {
            c_tab_nav = " current";
        }
        else
        {
            c_tab_nav = "";
        }

        //切換相對應語言
        if (Res.lang == "en-US" || Res.lang == "ja-JP")
        {
            switch (cate_name)
            {
                case "台灣基本法":
                    cate_name = Res.law_basic;
                    ViewBag.Title = Res.law_basic;
                    break;
                case "台灣公民權利法":
                    cate_name = Res.law_auth;
                    ViewBag.Title = Res.law_auth;
                    break;
                case "官方證明文件":
                    cate_name = Res.law_paper;
                    ViewBag.Title = Res.law_paper;
                    break;
                default:
                    break;

            }
        }



        <li><a class="@c_tab_nav" href="@Url.Content(cFile + "?cate_id=" + c_cate_id)">@cate_name</a></li>
    }


</ul>

<h1 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h1>
<div class="tab-content clearfix editor">

    @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
    @if (dt.Rows.Count > 1)
    {
        <ul class="tabs list-inline">
            @for (int i = 0; i < dt.Rows.Count; i++)
            {
                c_title = dt.Rows[i]["c_title"].ToString();
                c_id = dt.Rows[i]["id"].ToString();
                ci = i.ToString();

                if (id == c_id)
                {
                    c_tab_nav = " current";
                }
                else
                {
                    c_tab_nav = "";
                }

                <li>
                    @*<a class="@c_tab_nav" href="#tab1-@ci">@c_title</a>*@
                    <a class="@c_tab_nav" href="@Url.Content(cFile + "?cate_id=" + cate_id + "&id=" + c_id)">@c_title</a>
                </li>
            }
        </ul>
    }

    @if (d_detail.Rows.Count > 0)
    {
        c_desc = d_detail.Rows[0]["c_desc"].ToString();

        //====FB share===
        System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>|&nbsp;|\n|&quot;|\r"); //filter all html tag
        string desReTag = rx.Replace(c_desc, "");
        string remark = string.IsNullOrEmpty(desReTag) || desReTag.Length == 0 ? "" : desReTag.Length > 130 ? desReTag.Substring(0, 130) + "..." : desReTag; //catch 130 words
        ViewBag.Description = remark; //FB share description
        ViewBag.Title = d_detail.Rows[0]["c_title"];

        //=================
        <div>
            @Html.Raw(c_desc)
        </div>
    }

</div>








