@using System.Data
@{
    ViewBag.Title = "法律依據";
    ViewBag.BodyClass = "AboutUs Profile";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_cate = (DataTable)ViewData["d_cate"];
    string c_title = "";
    string c_desc = "";
    string cate_id = "";
    string lang_id = "";
    string lang_name = "";
    string cate_name = "";
    string ci = "";
    string cj = "";
    string str_tab = "";
    string c_tab = "";
    string c_tab_nav = "";
}

@section breadcrumb {
    <li><a href="~/AboutUs">什麼是台灣民政府</a></li>
    <li><a href="~/AboutUs/Position">關於我們</a></li>
    <li>@ViewBag.Title</li>
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}

@section scripts {
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        $(".tabs .tab-nav").click(function(e){
            $(this).parent().siblings().children(".tab-nav").removeClass("current");
            $(this).addClass("current");

            var target = $(this).attr("href");
            $(target).siblings(".tab").hide().removeClass("current");
            $(target).fadeIn().addClass("current");

            // change url hash without reloading page
            if(history.pushState) {
                history.pushState(null, null, target);
            }
            else {
                location.hash = target;
            }

            e.preventDefault();
        });

        var hash = window.location.hash;
        if (hash) {
            var hash_root = hash.split('-')[0];
            $(".tabs .tab-nav").each(function(){
                var target = $(this).attr("href");
                if (target == hash || target == hash_root) {
                    $(this).parent().siblings().children(".tab-nav").removeClass("current");
                    $(this).addClass("current");
                }
            });
            $(hash).add(hash_root).siblings(".tab").hide().removeClass("current");
            $(hash).add(hash_root).fadeIn().addClass("current");
        }
    </script>
}

<h1 class="sr-only">關於我們 - @ViewBag.Title</h1>

<ul class="tabs list-inline text-center">
    <li class="back"><a href="~/AboutUs/Position"><i class="oi" data-glyph="caret-left"></i> 回上層</a></li>
    @for (int i = 0; i < d_cate.Rows.Count; i++)
    {
        ci = d_cate.Rows[i]["id"].ToString();
        str_tab = "tab" + ci;
        cate_name = d_cate.Rows[i]["cate_name"].ToString();
        if (i == 0)
        {
            c_tab_nav = "tab-nav current";
        }
        else
        {
            c_tab_nav = "tab-nav";
        }
        <li><a class="@c_tab_nav" href="#@str_tab">@cate_name</a></li>
    }
</ul>

<div class="tab-content">
    @for (int i = 0; i < d_cate.Rows.Count; i++)
    {
        ci = d_cate.Rows[i]["id"].ToString();
        str_tab = "tab" + ci;
        cate_name = d_cate.Rows[i]["cate_name"].ToString();
        if (i == 0)
        {
            c_tab_nav = "tab current";
        }
        else
        {
            c_tab_nav = "tab";
        }

        //--Temp檔--建立---------//
        DataTable dt1;
        //----------------------------------------------------------------------//
        //DataRow[] sale_calc_Rows = dk.Tables["user_info"].Select("status='N'");
        DataRow[] dt1_Rows = dt.Select("cate_id='" + ci + "'");
        //----------------------------------------------------------------------//
        if (dt1_Rows.Any())
        {
            dt1 = dt1_Rows.CopyToDataTable();
        }
        else
        {
            dt1 = dt.Clone();
            dt1.Clear();
        }


        <div class="@c_tab_nav" id="@str_tab">
            <h2 class="title">@cate_name</h2>
            <div class="tab-content clearfix editor">
                @*文章分頁 頁籤切換，只有一頁就不顯示頁籤*@
                @if (dt1.Rows.Count > 1)
                {
                    <div class="tabs slider">
                        <div class="swiper-container">
                            <ul class="swiper-wrapper list-inline">
                                @for (int j = 0; j < dt1.Rows.Count; j++)
                                {
                                    c_title = dt1.Rows[j]["c_title"].ToString();
                                    cj = j.ToString();
                                    if (j == 0)
                                    {
                                        c_tab_nav = "tab-nav current";
                                    }
                                    else
                                    {
                                        c_tab_nav = "tab-nav";
                                    }

                                    <li class="swiper-slide">
                                        <a class="@c_tab_nav" href="#@str_tab-@cj">@Html.Raw(c_title)</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                }
                 
                @if (dt1.Rows.Count > 0)
                {
                    for (int j = 0; j < dt1.Rows.Count; j++)
                    {
                        cj = j.ToString();

                        c_title = dt1.Rows[j]["c_title"].ToString();
                        c_desc = dt1.Rows[j]["c_desc"].ToString();

                        if (j == 0)
                        {
                            c_tab = "tab current";
                        }
                        else
                        {
                            c_tab = "tab";
                        }

                        <div class="@c_tab" id="@str_tab-@cj">
                            <!-- <h3>@Html.Raw(c_title)</h3> -->
                            @Html.Raw(c_desc)
                        </div>
                    }
                }
            </div>
        </div>

        //--Temp檔--釋放---------//
        dt1.Dispose();
        dt1 = null;
        //-----------------------------// 
    }
</div>








