@using System.Data
@using OutWeb.App_GlobalResources
@{

    ViewBag.BodyClass = "AboutUs Profile";
    ViewBag.Title = Res.aboutUs_position;
    ViewBag.subnav = "Position";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_detail = (DataTable)ViewData["d_detail"];
    string log_count = (string)ViewData["log_count"];
    string id = (string)ViewData["id"];
    string c_id = "";
    string c_title = "";
    string c_desc = "";
    string cate_id = "";
    string lang_id = "";
    string lang_name = "";
    string cate_name = "";
    string ci = "";
    string c_tab = "";
    string c_tab_nav = "";
    string cFile = "Position";

}

@section breadcrumb {
    <li><a href="~/AboutUs?langCode=@Res.lang">@Res.nav_aboutUs</a></li>
    <li><a href="~/AboutUs/Position?langCode=@Res.lang">@Res.aboutUs</a></li>
    <li>@ViewBag.Title</li>
}

@* @section scripts {
    <script src="~/Content/js/tabs.js"></script>
} *@

<h1 class="sr-only">@Res.aboutUs</h1>

@Html.Partial("sidebar")

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="tab-content clearfix editor">
    @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
    @if (dt.Rows.Count > 1)
    {
        <ul class="tabs list-inline">
            @for (int i = 0; i < dt.Rows.Count; i++)
            {
                c_title = dt.Rows[i]["c_title"].ToString();
                c_id = dt.Rows[i]["id"].ToString();
                ci = i.ToString();

                if (id == c_id)
                {
                    c_tab_nav = " current";
                }
                else
                {
                    c_tab_nav = "";
                }

                <li>
                    @*<a class="@c_tab_nav" href="#tab1-@ci">@c_title</a>*@
                    <a class="@c_tab_nav" href="@Url.Content(cFile + "?id=" + c_id)">@c_title</a>
                </li>
            }
        </ul>
    }

    @if (d_detail.Rows.Count > 0)
    {
        c_desc = d_detail.Rows[0]["c_desc"].ToString();

        <div>
            @Html.Raw(c_desc)
        </div>
    }
</div>

<p class="counter">@log_count</p>
