@using OutWeb.App_GlobalResources

<ul class="tabs list-inline text-center">
    <li><a class='@(ViewBag.subnav == "Position" ? "current" : "")' href="~/AboutUs/Position?langCode=@Res.lang">@Res.aboutUs_position</a></li>
    @* <li><a class='@(ViewBag.subnav == "Statement" ? "current" : "")' href="~/AboutUs/Statement?langCode=@Res.lang">@Res.aboutUs_statement</a></li>
    <li><a href="~/AboutUs/Law?cate_id=@Res.MenuLaw_basic&langCode=@Res.lang">@Res.law</a></li> *@
</ul>