@using System.Data
@using OutWeb.App_GlobalResources
@{
    ViewBag.Title = Res.aboutUs_statement;
    ViewBag.BodyClass = "AboutUs Profile";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_detail = (DataTable)ViewData["d_detail"];
    string id = (string)ViewData["id"];
    string c_id = "";
    string c_title = "";
    string c_desc = "";
    string cate_id = "";
    string lang_id = "";
    string lang_name = "";
    string cate_name = "";
    string ci = "";
    string c_tab = "";
    string c_tab_nav = "";
    string cFile = "Statement";
}

@section breadcrumb {
    <li><a href="~/AboutUs">@Res.aboutUs_sub</a></li>
    <li><a href="~/AboutUs/Position">@Res.aboutUs</a></li>
    <li>@ViewBag.Title</li>
}

@* @section scripts {
    <script src="~/Content/js/tabs.js"></script>
} *@

    <h1 class="sr-only">@Res.aboutUs</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/AboutUs/Position">@Res.aboutUs</a></li>
    <li><a class="current" href="~/AboutUs/Statement">@Res.aboutUs_statement</a></li>
    <li><a href="~/AboutUs/Law?cate_id=4">@Res.law</a></li>
</ul>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="tab-content clearfix editor">

    @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
    @if (dt.Rows.Count > 1)
    {
        <ul class="tabs list-inline">
            @for (int i = 0; i < dt.Rows.Count; i++)
            {
                c_title = dt.Rows[i]["c_title"].ToString();
                c_id = dt.Rows[i]["id"].ToString();
                ci = i.ToString();

                if (id == c_id)
                {
                    c_tab_nav = " current";
                }
                else
                {
                    c_tab_nav = "";
                }

                <li>
                    @*<a class="@c_tab_nav" href="#tab1-@ci">@c_title</a>*@
                    <a class="@c_tab_nav" href="@Url.Content(cFile + "?id=" + c_id)">@c_title</a>
                </li>
            }
        </ul>
    }

    @if (d_detail.Rows.Count > 0)
    {
        c_desc = d_detail.Rows[0]["c_desc"].ToString();

        //====FB share===
        System.Text.RegularExpressions.Regex rx = new System.Text.RegularExpressions.Regex("<[^>]*>|&nbsp;|\n|&quot;|\r"); //filter all html tag
        string desReTag = rx.Replace(c_desc, "");
        string remark = string.IsNullOrEmpty(desReTag) || desReTag.Length == 0 ? "" : desReTag.Length > 130 ? desReTag.Substring(0, 130) + "..." : desReTag; //catch 130 words
        ViewBag.Description = remark; //FB share description
        ViewBag.Title = d_detail.Rows[0]["c_title"];

        //=================
        <div>
            @Html.Raw(c_desc)
        </div>
    }

</div>

