@using System.Data
@{
    ViewBag.Title = "台灣地位的聲明";
    ViewBag.BodyClass = "AboutUs Profile";

    DataTable dt = (DataTable)ViewData["dt"];
    string c_title = "";
    string c_desc = "";
    string cate_id = "";
    string lang_id = "";
    string lang_name = "";
    string cate_name = "";
    string ci = "";
    string c_tab = "";
    string c_tab_nav = "";
}

@section breadcrumb {
    <li><a href="~/AboutUs">什麼是台灣民政府</a></li>
    <li><a href="~/AboutUs/Position">關於我們</a></li>
    <li>@ViewBag.Title</li>
}

@section css {
    <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css">
}

@section scripts {
    <script src="~/Content/js/tabs.js"></script>
    <script src="~/Content/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
}

<h1 class="sr-only">關於我們</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/AboutUs/Position">主張與立場</a></li>
    <li><a class="current" href="~/AboutUs/Statement">台灣地位的聲明</a></li>
    <li><a href="~/AboutUs/Law">法律依據</a></li>
</ul>

<h2 class="title"><span>@ViewBag.Title</span></h2>

<div class="tab-content clearfix editor">

    @* 文章分頁 頁籤切換，只有一頁就不顯示頁籤 *@
    @if (dt.Rows.Count > 1)
    {
        <div class="tabs slider">
            <div class="swiper-container">
                <ul class="swiper-wrapper list-inline">
               @for (int i = 0; i < dt.Rows.Count; i++)
                {
                    c_title = dt.Rows[i]["c_title"].ToString();
                    ci = i.ToString();

                    if (i == 0)
                    {
                        c_tab_nav = "tab-nav current";
                    }
                    else
                    {
                        c_tab_nav = "tab-nav";
                    }

                    <li class="swiper-slide">
                        <a class="@c_tab_nav" href="#tab1-@ci">@c_title</a>
                    </li>
                    }
                </ul>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    }
    @* 文章分頁，有資料才顯示，第一頁 class + current *@
    @if (dt.Rows.Count > 0)
    {
        for (int i = 0; i < dt.Rows.Count; i++)
        {
            ci = i.ToString();

            c_title = dt.Rows[i]["c_title"].ToString();
            c_desc = dt.Rows[i]["c_desc"].ToString();

            if (i == 0)
            {
                c_tab = "tab current";
            }
            else
            {
                c_tab = "tab";
            }

            <div class="@c_tab" id="tab1-@ci">
                <!-- <h3>@Html.Raw(c_title)</h3> -->
                @Html.Raw(c_desc)
            </div>
        }
    }

</div>

