@using System.Data
@{
    ViewBag.Title = "歷屆合照";
    ViewBag.BodyClass = "JoinUs School";

    DataTable dt = (DataTable)ViewData["dt"];
    string img_path = "~/Images/";
    string id = "";
    string cate_id = "";
    string cate_name = "";
    string lang_id = "";
    string lang_name = "";
    string c_title = "";
    string c_desc = "";
    string img_file = "";
}

@section breadcrumb {
    <li><a href="~/JoinUs">如何加入台灣民政府</a></li>
    <li><a href="~/JoinUs/Live">參加台灣法理學院</a></li>
    <li>@ViewBag.Title</li>
}

@* @section css {
    <link href="~/Content/js/lightbox/css/lightbox.min.css" rel="stylesheet">
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery_lazyload/1.9.7/jquery.lazyload.js"></script>
    <script src="~/Content/js/lightbox/js/lightbox.min.js"></script>
    <script>
        $(function() {
            $("img.lazy").lazyload();
        });
    </script>
} *@

<h1 class="sr-only">如何加入台灣民政府</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/JoinUs/Live">課堂 LIVE 直播</a></li>
    <li><a href="~/JoinUs/Schedule">開課時間表</a></li>
    <li><a class="current" href="~/JoinUs/Gallery">歷屆合照</a></li>
    @* 歷屆課程影片網址來源: 後台 > 加入台灣民政府 > 參加台灣法理學院 > 歷屆課程影片 *@
    <li><a href="https://www.youtube.com/user/bmudw/playlists?view=1&sort=dd" target="new">歷屆課程影片</a></li>
</ul>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<ul class="gallery prolist row row-center list-unstyled">
    @if (dt.Rows.Count > 0)
        {
            for (int i = 0; i < dt.Rows.Count; i++)
            {
                id = dt.Rows[i]["id"].ToString();
                cate_id = dt.Rows[i]["cate_id"].ToString();
                cate_name = dt.Rows[i]["cate_name"].ToString();
                lang_id = dt.Rows[i]["lang_id"].ToString();
                lang_name = dt.Rows[i]["lang_name"].ToString();
                c_title = dt.Rows[i]["c_title"].ToString();
                c_desc = dt.Rows[i]["c_desc"].ToString();
                img_file = dt.Rows[i]["img_file"].ToString();
                string spanSytle = cate_id == "1" ? "primary" : "advanced";

                <li class="col-md-6 col-12">
                <figure class="pro text-center">
                    <!-- <a href="@Url.Content(img_path + img_file)" class="thumbnail" data-lightbox="gallery" data-title="台灣政府 法理學院 @cate_name 第 @c_title 期 (<a href='@Url.Content(img_path + img_file)' target='_blank'>按此看放大圖</a>)"> -->
                    <a href="@Url.Content(img_path + img_file)" class="thumbnail" target="new">
                        <img src="@Url.Content(img_path + img_file)" alt="">
                        @* 初級班 class + primary *@
                        <span class="caption @spanSytle">
                            台灣政府 法理學院 @cate_name 第<strong>@c_title</strong>期
                        </span>
                        @*
                        高級班 class + advanced
                        <span class="caption advanced">
                            台灣政府 法理學院 @cate_name 第<strong>@c_title</strong>期
                        </span>
                        *@
                    </a>
                    <a href="@c_desc" target="_blank" class="btn sm">上課影片</a>
                </figure>
            </li>
        }
    }
    <!--
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                @* 高級班 class + advanced *@
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption primary">第<strong>E160603</strong>期 台灣法理學院 初級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption primary">第<strong>E160603</strong>期 台灣法理學院 初級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption primary">第<strong>E160603</strong>期 台灣法理學院 初級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    <li class="col-md-6 col-12">
        <figure class="pro text-center">
            <a href="https://www.flickr.com/photos/usmgtcg/27466725216/in/album-72157647803685624/" target="_blank" class="thumbnail">
                <img src="~/Content/images/JoinUs/gallery-sp.jpg" alt="">
                <span class="caption advanced">第<strong>H160527</strong>屆 高級班</span>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLfrjFU90kKyFEzd4ZZLFSYni-BiviYXYx" target="_blank" class="btn sm">上課影片</a>
        </figure>
    </li>
    -->
</ul>