@using System.Data
@using OutWeb.App_GlobalResources
@{
    ViewBag.Title = Res.joinUs_schedule;
    ViewBag.BodyClass = "JoinUs School";

    DataTable dt = (DataTable)ViewData["dt"];
    string log_count = (string)ViewData["log_count"];
    string img_path = "~/Images/";
    string c_title = "";
    string c_desc = "";
    string cate_id = "";
    string lang_id = "";
    string lang_name = "";
    string cate_name = "";
    string ci = "";
    string c_tab = "";
    string c_tab_nav = "";
}

@section breadcrumb {
    <li><a href="~/JoinUs?langCode=@OutWeb.App_GlobalResources.Res.lang">@Res.nav_joinUs</a></li>
    <li><a href="~/JoinUs/Live?langCode=@OutWeb.App_GlobalResources.Res.lang">@Res.joinUs_joinCollege</a></li>
    <li>@ViewBag.Title</li>
}

<h1 class="sr-only">@Res.nav_joinUs</h1>

<ul class="tabs list-inline text-center">
    <li><a href="~/JoinUs/Live?langCode=@OutWeb.App_GlobalResources.Res.lang">@Res.joinUs_live</a></li>
    <li><a class="current" href="~/JoinUs/Schedule?langCode=@OutWeb.App_GlobalResources.Res.lang">@Res.joinUs_schedule</a></li>
    <li><a href="~/JoinUs/Gallery?langCode=@OutWeb.App_GlobalResources.Res.lang">@Res.joinUs_gallery</a></li>
    @* 歷屆課程影片網址來源: 後台 > 加入台灣民政府 > 參加台灣法理學院 > 歷屆課程影片 *@
    <li><a href="https://www.youtube.com/user/bmudw/playlists?view=1&sort=dd" target="new">@Res.joinUs_tchVideo</a></li>
</ul>

<h2 class="title">
    <span class="underline">@ViewBag.Title</span>
    <!-- <div class="addthis_inline_share_toolbox"></div> -->
</h2>

<div class="clearfix editor">

    <div class="calendar embed-responsive">
        <iframe class="calendar" src="https://calendar.google.com/calendar/embed?showTabs=0&height=600&wkst=2&bgcolor=%23FFFFFF&src=tcgw47%40gmail.com&color=%231B887A&src=6tkmi89t522780142r1u1b4ep8%40group.calendar.google.com&color=%23182C57&src=7m2501qkk7nivpuiu7fv7t0soc%40group.calendar.google.com&color=%23711616&src=lf34gpclfidl76t852dv3bio5k%40group.calendar.google.com&color=%232952A3&ctz=Asia%2FTaipei" frameborder="0" scrolling="no"></iframe>
    </div>
    <ul class="list-unstyled">
        <li><strong>資格限定：</strong>不拘</li>
        <li><strong>報到時間：</strong>開課當天 下午5:00</li>
        <li><strong>費用：</strong>住宿(三天兩夜)、伙食、講義 共 6,000 元(高級班 10,000元)</li>
        <li><strong>地址：</strong>桃園市龜山區員林坑路100-1號</li>
        <li><strong>電話：</strong>(03)355-3669</li>
    </ul>

</div>

<p class="counter">@log_count</p>
