@using System.Data
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "最新活動 管理";
    ViewBag.subnav = "Event";
    ViewBag.subnav2 = "Activity_List";

    //變數設定
    string SysPath = "~/_SysAdm/";

    string cFile = "Activity_Data";
    string cFile_Add = "Activity_Add";
    string cFile_Del = "Activity_Del";
    string cFile_Edit = "Activity_Edit";
    string cFile_Save = "Activity_Save";
    string cFile_List = "Activity_List";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_img = (DataTable)ViewData["d_img"];
    DataTable d_lang = (DataTable)ViewData["d_lang"];
    //DataTable d_cate = (DataTable)ViewData["d_cate"];
    DataTable d_url = (DataTable)ViewData["d_url"];

    string id = "";
    string c_title = "";
    string c_desc = "";
    string c_date = "";
    string sort = "";
    string action_sty = (string)ViewData["action_sty"];
    string action_name = "";
    string c_status = "";
    string c_front_status = "";
    string c_front_status_Y = "";
    string c_front_status_N = "";
    string is_index = "";
    string c_index_status = "";
    string c_index_status_Y = "";
    string c_index_status_N = "";

    string img_no = "";
    string img_path = "../Images/";
    string small_img = "";
    string big_img = "";
    string img_id = "";
    string lang = "";
    string lang_selected = "";

    string img_desc = "";
    string img_count = "";
    string img_is_index = "";

    string cate_id = "";
    string cate_selected = "";

    string url_id = "";
    string c_url = "";

    img_no = DateTime.Now.ToString("yyyyMMddHHmmss");
    img_count = d_img.Rows.Count.ToString();

    if (action_sty == "add")
    {
        action_name = "新增";

        id = "";
        c_title = "";
        c_desc = "";
        c_status = "N";
        c_front_status_N = "checked";
        c_front_status_Y = "";
        lang = "";
        //cate_id = "";
        sort = "0";
        c_date = DateTime.Today.ToString("yyyy-MM-dd");
        is_index = "N";
        c_index_status_N = "checked";
        c_index_status_Y = "";

    }
    else if (action_sty == "edit")
    {
        action_name = "修改";

        //d_news = (DataTable)ViewData["d_news"];

        //d_scenic_img_b = (DataTable)ViewData["d_scenic_img_b"];
        //d_scenic_img_s = (DataTable)ViewData["d_scenic_img_s"];

        id = dt.Rows[0]["id"].ToString();
        c_title = dt.Rows[0]["c_title"].ToString();
        c_desc = dt.Rows[0]["c_desc"].ToString();
        c_date = dt.Rows[0]["c_date"].ToString();
        c_status = dt.Rows[0]["status"].ToString();
        sort = dt.Rows[0]["sort"].ToString();
        lang = dt.Rows[0]["lang_id"].ToString();
        is_index = dt.Rows[0]["is_index"].ToString();
        //cate_id = dt.Rows[0]["cate_id"].ToString();

        switch (c_status)
        {
            case "Y":
                c_front_status_Y = "checked";
                c_front_status_N = "";
                break;
            case "N":
                c_front_status_Y = "";
                c_front_status_N = "checked";
                break;
        }

        switch (is_index)
        {
            case "Y":
                c_index_status_Y = "checked";
                c_index_status_N = "";
                break;
            case "N":
                c_index_status_Y = "";
                c_index_status_N = "checked";
                break;
        }
    }

}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

@section IncludeScript {
    <script>
        $('.slide-trigger').click(function(){
            $(this).parents('.pages').children('.pages-content').slideToggle();
        });
    </script>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@* 引用 ajaxfileupload *@
<script src="~/Scripts/ajaxfileupload.js"></script>
@* 引用 ajax_lib *@
<script src="~/Scripts/ajax_lib.js"></script>
@*1.引用ckeditor.js*@
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    function form_ok() {
        var sshow = "";
        var shot = "";
        var cmsg = "";
        var c_title = "";

        c_title = $("#c_title").val();
        c_date = $("#c_date").val();

        if(c_title == "")
        {
            if (cmsg != "")
            {
                cmsg += "\n";
            }
            cmsg += "請輸入標題";
        }

        if (c_date == "") {
            if (cmsg != "") {
                cmsg += "\n";
            }
            cmsg += "請輸入日期";
        }

        if (cmsg != "")
        {
            alert(cmsg);
        }
        else
        {
            form1.submit();
        }
        //alert("show:" + $("#show").val() + ";hot:" + $("#hot").val());

    }

    function get_cate() {
        //  取得被選擇項目的值
        //$("#select").find(":selected").val();
        var c_lang = $("#lang_id").find(":selected").val();
        var c_cate_kind = "Activity";
        //alert(c_lang);
        $.ajax({
            url: 'Cate_Get',
            data: { lang: c_lang, cate_kind: c_cate_kind }, //此参数非常严谨，写错一个引号都不行
            type: "POST",
            dataType: 'TEXT', //返回值类型 一般设置为json
            async: false,
            success: function (JData) {
                //alert(JData);
                data = handleAjaxVPNMsg(JData);
                i = 0;
                c_html = "";

                //  移除全部的項目
                $("#cate_id option").remove();
                //新增空白
                //$("#cate_id").append($("<option></option>").attr("value", "").text("全部"));

                $.each($.parseJSON(data), function (idx, obj) {
                    //$("#select").append($("<option></option>").attr("value", "值").text("文字"));
                    $("#cate_id").append($("<option></option>").attr("value", obj.ID).text(obj.CATE_NAME));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function () {
                //alert(tbl_new_list);
                //alert('ajax complete');
            }
        });
        return false;
    }

    function del_img(img_id,c_sty)
    {
        var cimg_no = "";
        var c_cate = "Activity"
        if ($("#id").val().length > 0) {
            cimg_no = $("#id").val();
        }else {
            cimg_no = @img_no;
        }

        $.ajax({                
            url: 'Img_Del',
            data: { img_id: img_id, img_sta:c_sty, img_no: cimg_no,img_cate: c_cate  }, //此参数非常严谨，写错一个引号都不行
            type:"POST",
            dataType: 'TEXT', //返回值类型 一般设置为json
            async: false,
            success: function(JData){
                //alert(JData);
                data = handleAjaxVPNMsg(JData);
                //-------------------------------------------------------//
                i = 0;
                c_html = "";
                c_html += "<table class=\"uploader m-t-32\">";
                c_html += "  <colgroup>";
                c_html += "    <col style=\"width: 15%\">";
                c_html += "    <col span=\"3\">";
                c_html += "</colgroup>";
                c_html += "<tr>";
                c_html += "    <th>圖片</th>";
                c_html += "    <th>圖說</th>";
                c_html += "    <th>封面圖</th>";
                c_html += "    <th class=\"item-edit\">刪除</th>";
                c_html += "</tr>";

                $.each($.parseJSON(data), function (idx, obj) {
                    i = i + 1;
                    c_html = c_html + "<tr>";
                    c_html = c_html + "    <td>";
                    c_html = c_html + "        <input  type=\"hidden\" name=\"img_id[]\" id=\"img_id[]\" value=\"" + obj.ID + "\" />";
                    c_html = c_html + "        <img id=\"img_B_" + i + "\" name=\"img_B_" + i + "\" src=\"../Images/" + obj.IMG_FILE + "\" alt=\"\">";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "    <td>";
                    c_html = c_html + "        <input type=\"text\" name=\"img_desc[]\" id=\"img_name[]\" class=\"form-element\" value=\"" + obj.IMG_DESC + "\">";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "    <td>";

                    c_html = c_html + "       <label class=\"switch\">";
                    c_html = c_html + "           <input type=\"radio\" name=\"is_index\" id=\"is_index\" value=\"" + obj.ID + "\"";
                    if(obj.is_index == "Y")
                    {
                        c_html = c_html + " checked ";
                    }
                    c_html = c_html + ">";
                    c_html = c_html + "        <div class=\"slider round\"></div>";
                    c_html = c_html + "       </label>";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "    <td class=\"item-edit\">";
                    c_html = c_html + "        <button class=\"btn-link text-danger hover-text-danger oi\" id=\"btn_close_B_" + i + "\" name=\"btn_close_B_" + i + "\" title=\"刪除\" data-glyph=\"trash\" onclick=\"del_img('" + obj.IMG_ID + "','');\"></button>";
                    c_html = c_html + "    </td>";
                    c_html = c_html + "</tr>";
                });
                c_html += "</table>";
                $('#img_count').val(i);
                $('#images_container').html(c_html);
                //-------------------------------------------------------//
            },
            error:function(xhr, ajaxOptions, thrownError){ 
                alert(xhr.status); 
                alert(thrownError); 
            },
            complete: function () {
                //alert(tbl_new_list);
                //alert('ajax complete');
            }
        });
        return false;
    }

    function upload(c_sty)
    {

        if ($("#pic_" + c_sty).val().length > 0) {
            //ajaxFileUpload('pic_small','small_img');
            ajaxFileUpload(c_sty);
        }
        else {
            alert("請選擇圖片");
        }
    }

    function ajaxFileUpload(c_sty) {
        var cimg_no = "";
        var c_img = "pic_" + c_sty;
        var c_cate = "Activity"
        var cimg_sty = "";
        var cimg_id = "";

        if ($("#id").val().length > 0) {
            cimg_no = $("#id").val();
        }else {
            cimg_no = @img_no;
        }

        //alert(c_img);
        var chtml = "";
        var i = 0;
        $.ajaxFileUpload
        (
            {
                url: 'Upload', //用于文件上传的服务器端请求地址
                type: 'post',
                data: { img_no: cimg_no, img_sta: c_sty, img_cate: c_cate }, //此参数非常严谨，写错一个引号都不行
                secureuri: false, //一般设置为false
                //fileElementId: 'file1', //文件上传空间的id属性  <input type="file" id="file" name="file" />
                fileElementId: c_img, //文件上传空间的id属性  <input type="file" id="file" name="file" />
                //dataType: 'HTML', //返回值类型 一般设置为json
                dataType: 'JSON', //返回值类型 一般设置为json
                success: function (JData, status)  //服务器成功响应处理函数
                {
                    //alert(JData);

                    data = handleAjaxVPNMsg(JData);

                    //-------------------------------------------------------//
                    i = 0;
                    c_html = "";
                    c_html += "<table class=\"uploader m-t-32\">";
                    c_html += "  <colgroup>";
                    c_html += "    <col style=\"width: 15%\">";
                    c_html += "    <col span=\"3\">";
                    c_html += "</colgroup>";
                    c_html += "<tr>";
                    c_html += "    <th>圖片</th>";
                    c_html += "    <th>圖說</th>";
                    c_html += "    <th>封面圖</th>";
                    c_html += "    <th class=\"item-edit\">刪除</th>";
                    c_html += "</tr>";

                    $.each($.parseJSON(data), function (idx, obj) {
                        i = i + 1;
                        c_html = c_html + "<tr>";
                        c_html = c_html + "    <td>";
                        c_html = c_html + "        <input  type=\"hidden\" name=\"img_id[]\" id=\"img_id[]\" value=\"" + obj.ID + "\" />";
                        c_html = c_html + "        <img id=\"img_B_" + i + "\" name=\"img_B_" + i + "\" src=\"../Images/" + obj.IMG_FILE + "\" alt=\"\">";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "    <td>";
                        c_html = c_html + "        <input type=\"text\" name=\"img_desc[]\" id=\"img_name[]\" class=\"form-element\" value=\"" + obj.IMG_DESC + "\">";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "    <td>";

                        c_html = c_html + "       <label class=\"switch\">";
                        c_html = c_html + "           <input type=\"radio\" name=\"is_index\" id=\"is_index\" value=\"" + obj.ID + "\"";
                        if(obj.is_index == "Y")
                        {
                            c_html = c_html + " checked ";
                        }
                        c_html = c_html + ">";
                        c_html = c_html + "        <div class=\"slider round\"></div>";
                        c_html = c_html + "       </label>";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "    <td class=\"item-edit\">";
                        c_html = c_html + "        <button class=\"btn-link text-danger hover-text-danger oi\" id=\"btn_close_B_" + i + "\" name=\"btn_close_B_" + i + "\" title=\"刪除\" data-glyph=\"trash\" onclick=\"del_img('" + obj.ID + "','');\"></button>";
                        c_html = c_html + "    </td>";
                        c_html = c_html + "</tr>";
                    });
                    c_html += "</table>";
                    $('#img_count').val(i);
                    $('#images_container').html(c_html);
                    //-------------------------------------------------------//

                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            }
        )
        return false;
    }
</script>
<form class="form-list" action="@Url.Content(cFile_Save)" name="form1" id="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" name="id" id="id" value="@id" />
    <input type="hidden" name="img_no" id="img_no" value="@img_no" />
    <input type="hidden" name="img_count" id="img_count" value="@img_count" />

    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 語系</dt>
        <dd class="col-6">
            <select id="lang_id" name="lang_id" class="form-element" onchange="get_cate();" required>
                @if (d_lang.Rows.Count > 0)
            {
                for (int i = 0; i < d_lang.Rows.Count; i++)
                {
                    if (d_lang.Rows[i]["lang_id"].ToString() == lang)
                    {
                        lang_selected = "selected";
                    }
                    else
                    {
                        lang_selected = "";
                    }
                    <option value="@d_lang.Rows[i]["lang_id"].ToString()" @lang_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                    }
                }
            </select>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 日期</dt>
        <dd class="col-6">
            <input type="date" class="form-element" required id="c_date" name="c_date" value="@c_date">
        </dd>
    </dl>
    @*
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 類別</dt>
        <dd class="col-6">
            <select id="cate_id" name="cate_id" class="form-element" required>
                @if (d_cate.Rows.Count > 0)
            {
                for (int i = 0; i < d_cate.Rows.Count; i++)
                {
                    if (d_cate.Rows[i]["id"].ToString() == cate_id)
                    {
                        cate_selected = "selected";
                    }
                    else
                    {
                        cate_selected = "";
                    }
                    <option value="@d_cate.Rows[i]["id"].ToString()" @cate_selected>@d_cate.Rows[i]["cate_name"].ToString()</option>
                    }
                }
            </select>
        </dd>
    </dl>
    *@
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 標題</dt>
        <dd class="col-6">
            <input type="text" class="form-element" required id="c_title" name="c_title" value="@c_title">
        </dd>
    </dl>
    @*
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 描述</dt>
        <dd class="col-6">
            <input type="text" class="form-element" required id="c_desc" name="c_desc" value="@c_desc">
        </dd>
    </dl>
    *@
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 狀態</dt>
        <dd class="col-6">
            <input type="radio" class="radio" name="show" id="showY" value="Y" @c_front_status_Y>
            <label for="showY"></label>
            發佈
            <input type="radio" class="radio" name="show" id="showN" value="N" @c_front_status_N>
            <label for="showN"></label>
            草稿
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 輪播</dt>
        <dd class="col-3">
            <input type="radio" class="radio" name="hot" id="hotY" value="Y" @c_index_status_Y>
            <label for="hotY"></label>
            是
            <input type="radio" class="radio" name="hot" id="hotN" value="N" @c_index_status_N>
            <label for="hotN"></label>
            否
        </dd>
        <dd class="col-5">
            <small class="text-secondary">如選「是」 ，本篇將顯示於最新資訊的輪播區塊</small>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 排序</dt>
        <dd class="col-3">
            @*<input type="text" class="form-element" value="0" required>*@
            <input type="number" min="0" class="form-element" id="sort" name="sort" value="@sort" required>
        </dd>
        <dd class="col-5">
            <small class="text-secondary">數字愈大愈前面</small>
        </dd>
    </dl>
    <hr class="my-16">
    <dl class="field">
        <dt class="col-1">圖片上傳</dt>
        <dd class="col-6">
            <div class="input-file">
                @* 瀏覽&上傳檔案 *@
                <input type="file" name="pic_B" id="pic_B" accept="image/*" class="form-control form-control-sm">
                <button type="button" name="btn_small_pic" onclick="upload('B');" class="btn btn-sm btn-success oi m-t-small" data-glyph="data-transfer-upload">
                    上傳
                </button>
            </div>
        </dd>
    </dl>
    <fieldset>
        <legend class="text-primary">[ 已上傳圖片 ]</legend>
        <div id="images_container" name="images_container">
            @* 上傳完成後的圖片 *@
            @if (d_img.Rows.Count > 0)
            {
                <table class="uploader">
                    <colgroup>
                        <col style="width: 15%">
                        <col span="3">
                    </colgroup>
                    <tr>
                        <th>圖片</th>
                        <th class="text-left">圖說</th>
                        <th>封面圖</th>
                        <th class="item-edit">刪除</th>
                    </tr>
                    @for (int b = 0; b < d_img.Rows.Count; b++)
                    {
                        big_img = img_path + d_img.Rows[b]["img_file"].ToString();
                        img_id = d_img.Rows[b]["id"].ToString();
                        img_desc = d_img.Rows[b]["img_desc"].ToString();
                        if (d_img.Rows[b]["is_index"].ToString() == "Y")
                        {
                            img_is_index = "checked";
                        }
                        else
                        {
                            img_is_index = "";
                        }
                        <tr>
                            <td>
                                <input type="hidden" name="img_id[]" id="img_id[]" value="@img_id" />
                                <img id="img_B_@b" name="img_B_@b" src="@big_img" alt="">
                            </td>
                            <td>
                                <input type="text" name="img_desc[]" id="img_desc[]" class="form-element" value="@img_desc">
                            </td>
                            <td>
                                @* 只能選一個 *@
                                <label class="switch">
                                    <input type="radio" name="is_index" id="is_index" value="@img_id" @img_is_index>
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td class="item-edit">
                                <button class="btn-link text-danger hover-text-danger oi" id="btn_close_B_@b" name="btn_close_B_@b" title="刪除" data-glyph="trash" onclick="del_img('@img_id','');"></button>
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
        <div id="img" name="img"></div>
    </fieldset>
    <hr class="my-16">
    <dl class="field">
        <legend class="text-primary">[ 影片網址 ]</legend>
        <p class="mb-16">請輸入 Youtube 影片網址，最多可輸入10部影片網址</p>
        <div id="url_container" name="url_container">
            <ol class="pl-24">
                @for (int b = 0; b < d_url.Rows.Count; b++)
                {
                    url_id = d_url.Rows[b]["id"].ToString();
                    c_url = d_url.Rows[b]["c_url"].ToString();

                    <li class="mb-12">
                        <input type="hidden" name="url_id[]" id="url_id[]" value="@url_id" />
                        <input type="text" class="form-element" placeholder="http://" name="curl[]" id="curl[]" value="@c_url">
                    </li>
                }

                @for (int b = 0; b < 10- d_url.Rows.Count; b++)
                {
                    url_id = "";
                    c_url = "";

                    <li class="mb-12">
                        <input type="hidden" name="url_id[]" id="url_id[]" value="@url_id" />
                        <input type="text" class="form-element" placeholder="http://" name="curl[]" id="curl[]" value="@c_url">
                    </li>
                }
            </ol>
        </div>
    </dl>
    <footer class="submit-bar clear mt-24">
        <button type="button" class="btn success oi" data-glyph="circle-check" onclick="form_ok();" name="btn_ok" id="btn_ok">
            確認儲存
        </button>
        <button type="button" class="btn warning oi" data-glyph="x" onclick="location.href='@Url.Content(SysPath + cFile_List)'" id="btn_back" name="btn_back">
            取消，回列表
        </button>
    </footer>
</form>
