@using System.Data
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "加入台灣民政府 分頁管理";
    ViewBag.subnav = "JoinUs";
    ViewBag.subnav2 = "JoinUs_List";

    //變數設定
    string SysPath = "~/_SysAdm/";

    string cFile = "JoinUs_Data";
    string cFile_Add = "JoinUs_Add";
    string cFile_Del = "JoinUs_Del";
    string cFile_Edit = "JoinUs_Edit";
    string cFile_Save = "JoinUs_Save";
    string cFile_List = "JoinUs_List";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_img = (DataTable)ViewData["d_img"];
    DataTable d_lang = (DataTable)ViewData["d_lang"];
    DataTable d_cate = (DataTable)ViewData["d_cate"];

    string id = "";
    string c_title = "";
    string c_desc = "";
    string sort = "";
    string action_sty = (string)ViewData["action_sty"];
    string action_name = "";
    string c_status = "";
    string c_front_status = "";
    string c_front_status_Y = "";
    string c_front_status_N = "";

    string img_no = "";
    string img_path = "../Images/";
    string small_img = "";
    string big_img = "";
    string img_id = "";
    string lang = "";
    string lang_selected = "";

    string cate_id = "";
    string cate_selected = "";

    img_no = DateTime.Now.ToString("yyyyMMddHHmmss");

    if (action_sty == "add")
    {
        action_name = "新增";

        id = "";
        c_title = "";
        c_desc = "";
        c_status = "N";
        c_front_status_N = "checked";
        c_front_status_Y = "";
        lang = "";
        cate_id = "";
        sort = "0";

    }
    else if (action_sty == "edit")
    {
        action_name = "修改";

        //d_news = (DataTable)ViewData["d_news"];

        //d_scenic_img_b = (DataTable)ViewData["d_scenic_img_b"];
        //d_scenic_img_s = (DataTable)ViewData["d_scenic_img_s"];

        id = dt.Rows[0]["id"].ToString();
        c_title = dt.Rows[0]["c_title"].ToString();
        c_desc = dt.Rows[0]["c_desc"].ToString();
        c_status = dt.Rows[0]["status"].ToString();
        sort = dt.Rows[0]["sort"].ToString();
        lang = dt.Rows[0]["lang_id"].ToString();
        cate_id = dt.Rows[0]["cate_id"].ToString();

        switch (c_status)
        {
            case "Y":
                c_front_status_Y = "checked";
                c_front_status_N = "";
                break;
            case "N":
                c_front_status_Y = "";
                c_front_status_N = "checked";
                break;
        }
    }

}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

@section IncludeScript {
    <script>
        $('.slide-trigger').click(function(){
            $(this).parents('.pages').children('.pages-content').slideToggle();
        });
    </script>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@* 引用 ajax_lib *@
<script src="~/Scripts/ajax_lib.js"></script>
@*1.引用ckeditor.js*@
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    function form_ok() {
        var sshow = "";
        var shot = "";
        var cmsg = "";
        var c_title = "";

        c_title = $("#c_title").val();


        if(c_title == "")
        {
            if (cmsg != "")
            {
                cmsg += "\n";
            }
            cmsg += "請輸入標題";
        }

        if (cmsg != "")
        {
            alert(cmsg);
        }
        else
        {
            form1.submit();
        }
        //alert("show:" + $("#show").val() + ";hot:" + $("#hot").val());

    }

    function get_cate() {
        //  取得被選擇項目的值
        //$("#select").find(":selected").val();
        var c_lang = $("#lang_id").find(":selected").val();
        var c_cate_kind = "JoinUs";
        //alert(c_lang);
        $.ajax({
            url: 'Cate_Get',
            data: { lang: c_lang, cate_kind: c_cate_kind }, //此参数非常严谨，写错一个引号都不行
            type: "POST",
            dataType: 'TEXT', //返回值类型 一般设置为json
            async: false,
            success: function (JData) {
                //alert(JData);
                data = handleAjaxVPNMsg(JData);
                i = 0;
                c_html = "";

                //  移除全部的項目
                $("#cate_id option").remove();
                //新增空白
                //$("#cate_id").append($("<option></option>").attr("value", "").text("全部"));

                $.each($.parseJSON(data), function (idx, obj) {
                    //$("#select").append($("<option></option>").attr("value", "值").text("文字"));
                    $("#cate_id").append($("<option></option>").attr("value", obj.ID).text(obj.CATE_NAME));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function () {
                //alert(tbl_new_list);
                //alert('ajax complete');
            }
        });
        return false;
    }
</script>
<form class="form-list" action="@Url.Content(cFile_Save)" name="form1" id="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" name="id" id="id" value="@id" />
    <input type="hidden" name="img_no" id="img_no" value="@img_no" />

    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 語系</dt>
        <dd class="col-6">
            <select id="lang_id" name="lang_id" class="form-element" onchange="get_cate();" required>
                @if (d_lang.Rows.Count > 0)
            {
                for (int i = 0; i < d_lang.Rows.Count; i++)
                {
                    if (d_lang.Rows[i]["lang_id"].ToString() == lang)
                    {
                        lang_selected = "selected";
                    }
                    else
                    {
                        lang_selected = "";
                    }
                    <option value="@d_lang.Rows[i]["lang_id"].ToString()" @lang_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                    }
                }
            </select>
        </dd>
    </dl>

    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 所屬主頁</dt>
        <dd class="col-6">
            <select id="cate_id" name="cate_id" class="form-element" required>
                @if (d_cate.Rows.Count > 0)
            {
                for (int i = 0; i < d_cate.Rows.Count; i++)
                {
                    if (d_cate.Rows[i]["id"].ToString() == cate_id)
                    {
                        cate_selected = "selected";
                    }
                    else
                    {
                        cate_selected = "";
                    }
                    <option value="@d_cate.Rows[i]["id"].ToString()" @cate_selected>@d_cate.Rows[i]["cate_name"].ToString()</option>
                    }
                }
            </select>
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 分頁標題</dt>
        <dd class="col-6">
            <input type="text" class="form-element" required id="c_title" name="c_title" value="@c_title">
        </dd>
    </dl>

    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 狀態</dt>
        <dd class="col-6">
            <input type="radio" class="radio" name="show" id="showY" value="Y" @c_front_status_Y>
            <label for="showY"></label>
            發佈
            <input type="radio" class="radio" name="show" id="showN" value="N" @c_front_status_N>
            <label for="showN"></label>
            草稿
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 排序</dt>
        <dd class="col-3">
            @*<input type="text" class="form-element" value="0" required>*@
            <input type="number" min="0" class="form-element" id="sort" name="sort" value="@sort" required>
        </dd>
        <dd class="col-5">
            <small class="text-secondary">數字愈大愈前面</small>
        </dd>
    </dl>

    <hr class="my-16">

    <fieldset class="m-t-24">
        <legend class="underline">[ 內容 ]</legend>
        <div class="alert-warning mb-16">
            <strong>編輯器注意事項:</strong><br>
            從 WORD 複製文字時，請使用下方的 <img src="~/Content/images/icon-word.jpg" /> 圖示來貼上 WORD 文字，避免跑版<br />
            編輯器上傳圖片或新增表格等時，請勿設定寬度及高度(將數字刪除) ，以免行動裝置顯示時會跑版。<br />
            檔案尺寸寬度超過 1600 或 高度超過1200 的圖片會被壓縮(PNG透明背景會變成不透明)
        </div>

        @* 編輯器(含圖片上傳功能) *@
        <textarea class="ckeditor" rows="18" placeholder="請輸入內容" name="c_desc" id="c_desc">@c_desc</textarea>
        @*加入圖片上傳頁籤，放在頁面底下，放在頁面head區的話，會抓不到myText DOM*@
        <script type="text/javascript">
                    CKEDITOR.replace('c_desc'
                , { filebrowserImageUploadUrl: '@Url.Content(SysPath + "UploadPicture")' }
                );
        </script>
    </fieldset>

    <footer class="submit-bar clear mt-24">
        <button type="button" class="btn success oi" data-glyph="circle-check" onclick="form_ok();" name="btn_ok" id="btn_ok">
            確認儲存
        </button>
        <button type="button" class="btn warning oi" data-glyph="x" onclick="location.href='@Url.Content(SysPath + cFile_List)'" id="btn_back" name="btn_back">
            取消，回列表
        </button>
    </footer>
</form>
