@using System.Data
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "消息類別-管理";
    ViewBag.subnav = "News";
    ViewBag.subnav2 = "News_Cate";

    //變數設定
    string SysPath = "~/_SysAdm/";
    string cFile = "News_Cate_Data";
    string cFile_Add = "News_Cate_Add";
    string cFile_Del = "News_Cate_Del";
    string cFile_Edit = "News_Cate_Edit";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_img = (DataTable)ViewData["d_img"];
    DataTable d_lang = (DataTable)ViewData["d_lang"];
    
    string cate_id = "";
    string cate_name = "";
    string cate_desc = "";
    string cate_pic = "";
    string cate_pic_id = "";
    string sort = "";
    string action_sty = (string)ViewData["action_sty"];
    string action_name = "";
    string c_status = "";
    string c_front_status = "";

    string img_no = "";
    string img_path = "../Images/";
    string small_img = "";
    string big_img = "";
    string img_id = "";
    string lang = "";
    string lang_selected = "";

    img_no = DateTime.Now.ToString("yyyyMMddHHmmss");

    if (action_sty == "add")
    {
        action_name = "新增";

        cate_id = "";
        cate_name = "";
        cate_desc = "";
        //n_date = DateTime.Today.ToString("yyyy-MM-dd");
        c_status = "Y";
        c_front_status = "checked";

        sort = "0";
    }
    else if (action_sty == "edit")
    {
        action_name = "修改";

        //d_news = (DataTable)ViewData["d_news"];

        //d_scenic_img_b = (DataTable)ViewData["d_scenic_img_b"];
        //d_scenic_img_s = (DataTable)ViewData["d_scenic_img_s"];

        cate_id = dt.Rows[0]["id"].ToString();
        cate_name = dt.Rows[0]["cate_name"].ToString();
        cate_desc = dt.Rows[0]["cate_desc"].ToString();
        c_status = dt.Rows[0]["status"].ToString();
        sort = dt.Rows[0]["sort"].ToString();
        lang = dt.Rows[0]["lang_id"].ToString();

        switch (c_status)
        {
            case "Y":
                c_front_status = "checked";
                break;
            case "N":
                c_front_status = "";
                break;
        }
    }

}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb <small class="oi" data-glyph="tags">編輯</small></h3>
@* 引用 ajaxfileupload *@
<script src="~/Scripts/ajaxfileupload.js"></script>
@* 引用 ajax_lib *@
<script src="~/Scripts/ajax_lib.js"></script>
<script>
    function form_ok() {
        //檢查資料
        var sshow = "";
        var shot = "";
        var cmsg = "";
        var cate_name = "";
        cate_name = $("#cate_name").val();
        if (cate_name == "") {
            cmsg = "請輸入類別名稱";
        }

        if ($("#cshow").prop("checked")) {
            $("#show").val("Y");
            sshow = "Y";
        }
        else
        {
            $("#show").val("N");
            sshow = "N";
        }


        //alert("show:" + $("#show").val() + ";hot:" + $("#hot").val());
        if (cmsg != "")
        {
            alert(cmsg);
        }
        else
        {
            form1.submit();
        }
    }
</script>

<form class="form-list" action="News_Cate_Save" name="form1" id="form1" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action_sty" id="action_sty" value="@action_sty" />
    <input type="hidden" name="cate_id" id="cate_id" value="@cate_id" />
    <input type="hidden" name="img_no" id="img_no" value="@img_no" />
    <input type="hidden" name="show" id="show" value="" />
    <input type="hidden" name="hot" id="hot" value="" />

    @if (action_sty == "add")
    {
        <input type="hidden" name="sort" id="sort" value="" />
    }

    <dl class="field">
        <dt class="col-1">*類別名稱</dt>
        <dd class="col-6">
            <input type="text" class="form-control form-control-sm" required id="cate_name" name="cate_name" value="@cate_name">
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-1">類別描述</dt>
        <dd class="col-6">
            <input type="text" class="form-control form-control-sm" required id="cate_desc" name="cate_desc" value="@cate_desc">
        </dd>
    </dl>
    <dl class="field">
        <dt class="col-1"><sup title="必填">*</sup> 語系</dt>
        <dd class="col-6">
            <select id="lang_id" name="lang_id" class="form-element" required>
                @if (d_lang.Rows.Count > 0)
                {
                    for (int i = 0; i < d_lang.Rows.Count; i++)
                    {
                        if (d_lang.Rows[i]["lang_id"].ToString() == lang)
                        {
                            lang_selected = "selected";
                        }
                        else
                        {
                            lang_selected = "";
                        }
                        <option value="@d_lang.Rows[i]["lang_id"].ToString()" @lang_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                    }
                }
            </select>
        </dd>
    </dl>

    @if (action_sty == "edit")
    {
        <dl class="field">
            <dt class="col-1">排序</dt>
            <dd class="col-6">
                <input type="number" min="0" class="inline" id="sort" name="sort" value="@sort">
                <small>數字愈小愈前面</small>
            </dd>
        </dl>
    }

    <dl class="field">
        <dt class="col-1">顯示</dt>
        <dd class="col-6">
            <label class="switch">
                <input type="checkbox" name="cshow" id="cshow" @c_front_status>
                <div class="slider round"></div>
            </label>
        </dd>
    </dl>
    <footer class="submit-bar clear m-t-24">
        <button type="button" name="btn_ok" onclick="form_ok();" class="btn success oi" data-glyph="circle-check">
            確認儲存
        </button>
        <button type="button" id="btn_back" name="btn_back" onclick="location.href='@Url.Content(SysPath + "News_Cate_List")'" class="btn warning oi" data-glyph="circle-x">
            回列表
        </button>
    </footer>
</form>
