@using System.Data
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Crumb = "歷屆合照 資料管理";
    ViewBag.subnav = "School";
    ViewBag.subnav2 = "School_List";

    string SysPath = "~/_SysAdm/";
    string cFile = "School_List";
    string cFile_Add = "School_Add";
    string cFile_Del = "School_Del";
    string cFile_Edit = "School_Edit";

    DataTable dt = (DataTable)ViewData["dt"];
    DataTable d_lang = (DataTable)ViewData["d_lang"];
    DataTable d_cate = (DataTable)ViewData["d_cate"];

    int row_count = 0;
    int page_count = 50;
    int page = (int)ViewData["page"];
    int pre_page = 0;
    int top_page = 0;
    int next_page = 0;
    int end_page = 0;
    int min_row = 0;
    int max_row = 0;
    int total_page = 0;

    string id = "";
    string c_title = "";

    string c_sort = "";
    string show = "";
    string show_class = "";
    string lang_name = "";
    string cate_name = "";
    string txt_title_query = (string)ViewData["txt_title_query"];
    string txt_sort = (string)ViewData["txt_sort"];
    string txt_a_d = (string)ViewData["txt_a_d"];
    string txt_lang = (string)ViewData["txt_lang_id"];
    string txt_cate = (string)ViewData["txt_cate_id"];
    string txt_start_date = (string)ViewData["txt_start_date"];
    string txt_end_date = (string)ViewData["txt_end_date"];

    string txt_show = (string)ViewData["txt_show"];
    string show_y = "";
    string show_n = "";

    switch (txt_show)
    {
        case "Y":
            show_y = "selected";
            show_n = "";
            break;
        case "N":
            show_y = "";
            show_n = "selected";
            break;
    }

    string c_selected = "";

    string a_d = "";

    if (txt_a_d == "")
    {
        a_d = "asc";
    }
    else
    {
        a_d = "desc";
    }

    string class_title = "";
    string class_sort = "";
    string class_status = "";
    string class_lang = "";
    string class_cate = "";

    switch (txt_sort)
    {
        case "c_title":
            class_title = a_d;
            break;
        case "sort":
            class_sort = a_d;
            break;
        case "status":
            class_status = a_d;
            break;
        case "lang_id":
            class_lang = a_d;
            break;
        case "cate_id":
            class_cate = a_d;
            break;
    }

    row_count = dt.Rows.Count;
    if (row_count % page_count > 0)
    {
        total_page = (row_count / page_count) + 1;
    }
    else
    {
        total_page = row_count / page_count;
    }

    if (page > total_page)
    {
        page = total_page;
    }
    else if (page < 1)
    {
        page = 1;
    }

    top_page = 1;

    if (page > 1)
    {
        pre_page = page - 1;
    }
    else
    {
        pre_page = 1;
    }

    if (total_page > page)
    {
        next_page = page + 1;
    }
    else
    {
        next_page = total_page;
    }

    end_page = total_page;

    min_row = page_count * (page - 1) + 1;
    if (min_row < 0)
    {
        min_row = 0;
    }
    max_row = page_count * page;
    if (max_row > row_count)
    {
        max_row = row_count;
    }

}

@section Breadcrumb {
    <ul class="breadcrumb">
        <li>@ViewBag.Crumb</li>
    </ul>
}

<h3 class="title">@ViewBag.Crumb</h3>
@* 引用 ajax_lib *@
<script src="~/Scripts/ajax_lib.js"></script>
<script>
    function del(url) {
        if (confirm("確定刪除??")) {
            location.href = url;
            //alert("你按下確定");
        }
        else {
            //alert("你按下取消");
        }
    }

    function get_cate() {
        //  取得被選擇項目的值
        //$("#select").find(":selected").val();
        var c_lang = $("#txt_lang").find(":selected").val();
        var c_cate_kind = "AboutUs";
        //alert(c_lang);
        $.ajax({
            url: 'Cate_Get',
            data: { lang: c_lang, cate_kind: c_cate_kind }, //此参数非常严谨，写错一个引号都不行
            type: "POST",
            dataType: 'TEXT', //返回值类型 一般设置为json
            async: false,
            success: function (JData) {
                //alert(JData);
                data = handleAjaxVPNMsg(JData);
                i = 0;
                c_html = "";

                //  移除全部的項目
                $("#txt_cate option").remove();
                //新增空白
                $("#txt_cate").append($("<option></option>").attr("value", "").text("全部"));

                $.each($.parseJSON(data), function (idx, obj) {
                    //$("#select").append($("<option></option>").attr("value", "值").text("文字"));
                    $("#txt_cate").append($("<option></option>").attr("value", obj.ID).text(obj.CATE_NAME));
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function () {
                //alert(tbl_new_list);
                //alert('ajax complete');
            }
        });
        return false;
    }
</script>

<div class="btn-group mb-8">
    <button type="button" onclick="location.href='@Url.Content(SysPath + cFile_Add)';" class="btn success oi" data-glyph="plus">
        新增
    </button>
</div>
<form name="form1" id="form1" action="" method="post">
    <input type="hidden" id="txt_sort" name="txt_sort" value="@txt_sort" />
    <input type="hidden" id="txt_a_d" name="txt_a_d" value="@txt_a_d" />
    <header class="table-head form-inline">
        <label>語系</label>
        <select class="form-element" id="txt_lang" name="txt_lang" onclick="get_cate();">
            <option value="">全部</option>
            @if (d_lang.Rows.Count > 0)
            {
                for (int i = 0; i < d_lang.Rows.Count; i++)
                {
                    if (d_lang.Rows[i]["lang_id"].ToString() == txt_lang)
                    {
                        c_selected = "selected";
                    }
                    else
                    {
                        c_selected = "";
                    }
                    <option value="@d_lang.Rows[i]["lang_id"].ToString()" @c_selected>@d_lang.Rows[i]["lang_name"].ToString()</option>
                }
            }
        </select>
        <label>班別</label>
        <select class="form-element" id="txt_cate" name="txt_cate">
            <option value="">全部</option>
            @if (d_cate.Rows.Count > 0)
            {
                for (int i = 0; i < d_cate.Rows.Count; i++)
                {
                    if (d_cate.Rows[i]["id"].ToString() == txt_lang)
                    {
                        c_selected = "selected";
                    }
                    else
                    {
                        c_selected = "";
                    }
                    <option value="@d_cate.Rows[i]["id"].ToString()" @c_selected>@d_cate.Rows[i]["cate_name"].ToString()</option>
                }
            }
        </select>
        <label>期別</label>
        <input type="text" placeholder="請輸入關鍵字..." id="txt_title_query" name="txt_title_query" value="@txt_title_query">
        <label>狀態</label>
        <select id="txt_show" name="txt_show">
            <option value="">全部</option>
            <option value="Y" @show_y >發佈</option>
            <option value="N" @show_n >草稿</option>
        </select>
        <button class="btn sm oi" data-glyph="magnifying-glass" id="btn_query" name="btn_query" onclick="form_ok();">搜尋</button>
    </header>
    <table class="table-list table-hover table-striped">
        <colgroup>
            <col style="width: 5%">
            <col style="width: 13%">
            <col style="width: 14%">
            <col style="width: 43%">
            <col style="width: 10%">
            <col style="width: 10%">
            <col style="width: 5%">
        </colgroup>
        <tr>
            @* 點選排序功能 (點一下遞增, 點兩下遞減)
                <button class="th-sort-toggle"></button>
                遞增 asc
                <button class="th-sort-toggle asc"></button>
                遞減 desc
                <button class="th-sort-toggle desc"></button>
            *@
            <th class="item-edit">修改</th>
            <th>
                @* 點選排序功能 (點一下遞增 asc, 點兩下遞減 desc) *@
                <button class="th-sort-toggle @class_sort" name="btn_sort" id="btn_sort" onclick="sort('sort');">排序</button>
            </th>
            <th>
                @* 點選排序功能 (點一下遞增 asc, 點兩下遞減 desc) *@
                <button class="th-sort-toggle @class_cate" name="btn_cate" id="btn_cate" onclick="sort('cate_id');">班別</button>
            </th>
            <th class="text-left">期別</th>
            <th>
                @* 點選排序功能 (點一下遞增 asc, 點兩下遞減 desc) *@
                <button class="th-sort-toggle @class_lang" name="btn_lang" id="btn_lang" onclick="sort('lang_id');">語系</button>
            </th>
            <th>
                @* 點選排序功能 (點一下遞增 asc, 點兩下遞減 desc) *@
                <button class="th-sort-toggle @class_status" name="btn_status" id="btn_status" onclick="sort('status');">狀態</button>
            </th>
            <th class="item-edit">刪除</th>
        </tr>
        @*
            無資料
            <tr class="bg-pale-red"><td colspan="8">尚無資料</td></tr>
        *@
        @* 建議: 1頁10筆資料 *@
        @if (dt.Rows.Count > 0)
        {
            for (int i = min_row - 1; i < max_row; i++)
            {
                id = dt.Rows[i]["id"].ToString();

                c_title = dt.Rows[i]["c_title"].ToString();
                c_sort = dt.Rows[i]["sort"].ToString();
                lang_name = dt.Rows[i]["lang_name"].ToString();
                cate_name = dt.Rows[i]["cate_name"].ToString();
                if (dt.Rows[i]["status"].ToString() == "Y")
                {
                    show = "發佈";
                    show_class = "label-success";
                }
                else
                {
                    show = "草稿";
                    show_class = "";
                }


                <tr>
                    <td>
                        <button class="hover-primary oi" title="修改" data-glyph="pencil" type="button" onclick="location.href='@Url.Content(SysPath + cFile_Edit + "?id=" + id)';"></button>
                    </td>
                    <td>@c_sort</td>
                    <td>@cate_name</td>
                    <td class="text-left">@c_title</td>
                    <td>@lang_name</td>
                    <td><span class="label @show_class">@show</span></td>
                    <td>
                        <button class="hover-danger oi delete-btn" title="刪除" type="button" data-glyph="trash" onclick="del('@Url.Content(SysPath + cFile_Del + "?id=" + id)');"></button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="bg-pale-red">
                <td colspan="7">
                    尚無資料
                </td>
            </tr>
        }

    </table>
    <footer class="table-foot">
        <small class="float-r">第 @min_row - @max_row 筆，共 @row_count 筆</small>
        <nav class="pager">
            <a href="@Url.Content(SysPath + cFile + "?page=" + top_page.ToString())" class="oi" data-glyph="media-step-backward" title="到最前頁"></a>
            <a href="@Url.Content(SysPath + cFile + "?page=" + pre_page.ToString())" class="oi" data-glyph="caret-left" title="上一頁"></a>
            <span>
                第
                <input type="text" class="form-control form-control-sm text-xs-center" style="width:100px" name="page" id="page" value="@page">
                頁，共 @total_page 頁
            </span>
            <a href="@Url.Content(SysPath + cFile + "?page=" + next_page.ToString())" class="oi" data-glyph="caret-right" title="下一頁"></a>
            <a href="@Url.Content(SysPath + cFile + "?page=" + end_page.ToString())" class="oi" data-glyph="media-step-forward" title="到最後頁"></a>
        </nav>
    </footer>
</form>
<script>
        $('#form1').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
        //$('#page').on('keydown', function (e) {
        //    if (e.which == 13) {
        //        //alert('clicked');
        //        document.form1.submit();
        //    }
        //});


        function form_ok() {
            $('#form1').submit();
        }

        function sort(c_sort) {
            var pre_sort = $('#txt_sort').val();
            var pre_a_d = $('#txt_a_d').val();
            var a_d = "";
            var s_sort = "";
            var class_a_d = "";

            s_sort = c_sort;
            if (pre_sort == c_sort) {
                if (pre_a_d == "") {
                    a_d = "desc";
                }
                else {
                    a_d = "";
                }
            }
            else {
                a_d = "";
            }

            //alert("pre_sort:" + pre_sort + ";pre_a_d:" + pre_a_d + ";a_d:" + a_d + ";s_sort=" + s_sort)

            $('#txt_sort').val(s_sort);
            $('#txt_a_d').val(a_d);

            $('#form1').submit();

        }
</script>