<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@OutWeb.App_GlobalResources.Res.webKeywords">
    <meta name="description" content="@OutWeb.App_GlobalResources.Res.webDescription">
    @if (ViewBag.IsFirstPage)
    {
        <title id="title">@OutWeb.App_GlobalResources.Res.webTitle</title>
    }
    else
    {
        <title id="title">@ViewBag.Title | @OutWeb.App_GlobalResources.Res.webTitle2</title>
    }
    @if (ViewBag.Description != null && ViewBag.Description != "")
    {
        <meta name="og:description" content="@ViewBag.Description">
    }
    else
    {
        @*<meta name="og:description" content="&hellip;">*@
        <meta name="og:description" content="&nbsp;">
    }
    @if (ViewBag.IsFirstPage)
    {
        <meta property="og:type" content="website" />
        <meta property="og:title" content="@OutWeb.App_GlobalResources.Res.webTitle" />
    }
    else
    {
        <meta property="og:type" content="article" />
        <meta property="og:title" content="@ViewBag.Title" />
        if (@ViewBag.Image != null)
        {
            string urScheme = @HttpContext.Current.Request.Url.Scheme;
            string urlAuth = @HttpContext.Current.Request.Url.Authority;
            string img_path = urScheme + "://" + urlAuth + ViewBag.Image;
            <meta property="og:image" content="@img_path" />
        }
    }
    @*<meta property="og:description" content="台灣民政府(TCG) 是一個合法的政府組織，是在美國軍事政府(USMG)架構下，中華民國流亡代理政權即將結束，將由USMG TCG接管台灣。">*@
    <meta property="og:site_name" content="@OutWeb.App_GlobalResources.Res.webTitle">
    @RenderSection("OGMeta", false)

    <!-- Favicons -->
    <!-- Standard -->
    <meta name="theme-color" content="#FFFFFF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="@OutWeb.App_GlobalResources.Res.webTitle3">
    <link rel="icon" type="image/png" href="~/favicon.png" sizes="256x256">
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" href="~/favicon_apple.png">
    <meta name="apple-mobile-web-app-title" content="@OutWeb.App_GlobalResources.Res.webTitle3">
    <link rel="apple-touch-icon" sizes="256x256" href="~/favicon_apple.png">
    <!-- // Favicons -->

    <!-- lang -->
    @Html.Raw(@OutWeb.App_GlobalResources.Res.rel_lang_tag)
    <!-- // lang -->

    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/vendor/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/index.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/page.css">
    }
    @RenderSection("css", false)
</head>
<body class="@ViewBag.BodyClass @OutWeb.App_GlobalResources.Res.lang">
    <div id="wrapper">

        <header id="header">
            <section id="pageBanner">
                <div class="wrap">
                    <ul class="topNav list-inline">
                        <li class="lang @(OutWeb.App_GlobalResources.Res.lang == "zh-TW" ? "hidden" : "")">
                            <a href="@Url.Action("Index", new { langCode = "zh-TW" })">漢字</a>
                        </li>
                        <li class="lang @(OutWeb.App_GlobalResources.Res.lang == "en-US" ? "hidden" : "")">
                            <a href="@Url.Action("Index", new { langCode = "en-US" })">English</a>
                        </li>
                        <li class="lang @(OutWeb.App_GlobalResources.Res.lang == "ja-JP" ? "hidden" : "")">
                            <a href="@Url.Action("Index", new { langCode = "ja-JP" })">日本語</a>
                        </li>
                        <li class="search">
                            <button class="search-trigger icon-search"></button>
                        </li>
                        <li class="share">
                            <a href="https://www.facebook.com/TaiwanCivilGovernment/" target="new" class="icon-facebook"></a>
                        </li>
                        <li class="menu">
                            <button class="sitemap-trigger icon-menu"></button>
                        </li>
                    </ul>
                    <h1 class="logo">
                        <a href="~/Home?langCode=@OutWeb.App_GlobalResources.Res.lang" title="@OutWeb.App_GlobalResources.Res.back_home">台灣民政府 Taiwan Civil Government</a>
                    </h1>
                </div>
            </section>

            @if (ViewBag.IsFirstPage)
            {
                <nav id="menu">
                    <ul class="nav list-unstyled">
                        <li>
                            <a href="~/AboutUs?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-about"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.home_about)
                            </a>
                        </li>
                        <li>
                            <a href="~/JoinUs?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-join-us"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.home_joinUs)
                            </a>
                        </li>
                        <li>
                            <a href="~/News?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-news2"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.home_news)
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
                <nav id="menu" class="wrap">
                    <ul class="nav row no-gutters list-unstyled">
                        <li class="col-4">
                            <a class="@(ViewBag.BodyClass.Contains("AboutUs") ? "current" : "")" href="~/AboutUs?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-about"></i>
                                @OutWeb.App_GlobalResources.Res.nav_aboutUs
                            </a>
                        </li>
                        <li class="col-4">
                            <a class="@(ViewBag.BodyClass.Contains("JoinUs") ? "current" : "")" href="~/JoinUs?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-join-us"></i>
                                @OutWeb.App_GlobalResources.Res.nav_joinUs
                            </a>
                        </li>
                        <li class="col-4">
                            <a class="@(ViewBag.BodyClass.Contains("News") ? "current" : "")" href="~/News?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-news2"></i>
                                @OutWeb.App_GlobalResources.Res.nav_news
                            </a>
                        </li>
                    </ul>
                    <ul class="sub-nav list-unstyled">
                        <li class="@(ViewBag.BodyClass.Contains("AboutUs") ? "" : "hidden")">
                            <!-- <a class="@(ViewBag.BodyClass.Contains("TCG") ? "current" : "")" href="~/AboutUs/TCG">
                                <i class="icon-taiwan"></i>
                                台灣民政府由來
                            </a> -->
                            <a class="@(ViewBag.BodyClass.Contains("Profile") ? "current" : "")" href="~/AboutUs/Position?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-people"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.aboutUs_1)
                            </a>
                            <a class="@(ViewBag.BodyClass.Contains("Education") ? "current" : "")" href="~/AboutUs/EducationCategory?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-graduation-cap"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.aboutUs_eduCategory_1)
                            </a>
                            <a class="@(ViewBag.BodyClass.Contains("Organization") ? "current" : "")" href="~/AboutUs/Organization?cate_id=@OutWeb.App_GlobalResources.Res.MenuOrg_adminReg&langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-organization"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.aboutUs_org_1)
                            </a>
                        </li>
                        <li class="@(ViewBag.BodyClass.Contains("JoinUs") ? "" : "hidden")">
                            <a class="@(ViewBag.BodyClass.Contains("Apply") ? "current" : "")" href="~/JoinUs/Apply?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-drivers-license-o"></i>
                                @Html.Raw(OutWeb.App_GlobalResources.Res.joinUs_apply_1)
                            </a>
                            <a class="@(ViewBag.BodyClass.Contains("Consult") ? "current" : "")" href="~/JoinUs/Consult?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-phone"></i>
                                @Html.Raw(OutWeb.App_GlobalResources.Res.joinUs_consult_1)
                            </a>
                            <a class="@(ViewBag.BodyClass.Contains("School") ? "current" : "")" href="~/JoinUs/Live?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-school"></i>
                                @Html.Raw(OutWeb.App_GlobalResources.Res.joinUs_joinCollege_1)
                            </a>
                        </li>
                        <li class="@(ViewBag.BodyClass.Contains("News") ? "" : "hidden")">
                            <!-- <a class="@(ViewBag.BodyClass.Contains("Latest") ? "current" : "")" href="~/News/Latest">
                                <i class="icon-paperplane"></i>
                                最新訊息
                            </a> -->
                            <a class="@(ViewBag.BodyClass.Contains("Event") ? "current" : "")" href="~/News/EventLatest?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-camera"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.news_event_1)
                            </a>
                            <a class="@(ViewBag.BodyClass.Contains("Announcement") ? "current" : "")" href="~/News/AnnouncementLatest?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-bullhorn"></i>
                                @Html.Raw(OutWeb.App_GlobalResources.Res.news_announLatest_1)
                            </a>
                            <a class="@(ViewBag.BodyClass.Contains("Focus") ? "current" : "")" href="~/News/FocusCategory?langCode=@OutWeb.App_GlobalResources.Res.lang">
                                <i class="icon-focus"></i>
                                @Html.Raw(@OutWeb.App_GlobalResources.Res.news_focusCategory_1)
                            </a>
                        </li>
                    </ul>
                </nav>
            }
        </header>

        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else
        {
            <main id="main" class="wrap">
                <ul class="breadcrumb">
                    <li><a href="~/Home"><i class="oi" data-glyph="home"></i></a></li>
                    @RenderSection("breadcrumb", false)
                </ul>
                @RenderBody()
                <div class="addthis_inline_share_toolbox"></div>
            </main>
        }

    </div><!-- wrapper //-->

    @if (!ViewBag.IsFirstPage)
    {

        <a href="#header" class="goTop oi" data-glyph="chevron-top" title="TOP"></a>

        <footer id="footer">
            <div class="wrap">
                <div class="copyright pull-left">
                    <i class="logo-sm"></i>
                    <strong>台灣民政府 中央會館</strong>
                    <span class="hidden-sm">Taiwan Civil Government Central Headquarters</span> &copy; 2018
                </div>
                <nav class="foot-nav pull-right">
                    <span><a href="https://goo.gl/maps/YnjYAMLxhwr" target="new"><span class="hidden-sm">@OutWeb.App_GlobalResources.Res.postCode</span>@OutWeb.App_GlobalResources.Res.address</a></span>
                    <span>@OutWeb.App_GlobalResources.Res.tel</span>
                </nav>
            </div>
        </footer><!-- footer //-->

    }

    <nav id="sitemap" class="popup">
        <button class="sitemap-trigger oi" data-glyph="x"></button>
        <ul class="list-unstyled row">
            <li>
                <h1>
                    <a href="~/AboutUs?langCode=@OutWeb.App_GlobalResources.Res.lang">
                        @OutWeb.App_GlobalResources.Res.nav_aboutUs
                    </a>
                </h1>
                <ul class="list-unstyled">
                    <!-- <li>
                        <h2>
                            <a href="~/AboutUs/TCG">台灣民政府由來</a>
                        </h2>
                    </li> -->
                    <li>
                        <h2>
                            <a href="~/AboutUs/Position?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.aboutUs</a>
                        </h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3><a href="~/AboutUs/Position?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.aboutUs_position</a></h3>
                            </li>
                            <li>
                                <h3><a href="~/AboutUs/Statement?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.aboutUs_statement</a></h3>
                            </li>
                            <li>
                                <h3><a href="~/AboutUs/Law?cate_id=@OutWeb.App_GlobalResources.Res.MenuLaw_basic&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.law</a></h3>
                                <ul class="list-unstyled">
                                    <li>
                                        <h4><a href="~/AboutUs/Law?cate_id=@OutWeb.App_GlobalResources.Res.MenuLaw_basic&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.law_basic</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="~/AboutUs/Law?cate_id=@OutWeb.App_GlobalResources.Res.MenuLaw_auth&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.law_auth</a></h4>
                                    </li>
                                    <li>
                                        <h4><a href="~/AboutUs/Law?cate_id=@OutWeb.App_GlobalResources.Res.MenuLaw_auth&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.law_paper</a></h4>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2>
                            <a href="~/AboutUs/EducationCategory?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.aboutUs_eduCategory</a>
                        </h2>
                    </li>
                    <li>
                        <h2>
                            <a href="~/AboutUs/Organization?cate_id=@OutWeb.App_GlobalResources.Res.MenuOrg_adminReg&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.aboutUs_org</a>
                        </h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3><a href="~/AboutUs/Organization?cate_id==@OutWeb.App_GlobalResources.Res.MenuOrg_adminReg&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.org_adminReg</a></h3>
                            </li>
                            <li>
                                <h3><a href="~/AboutUs/Organization?cate_id=@OutWeb.App_GlobalResources.Res.MenuOrg_org&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.org_org</a></h3>
                            </li>
                            <li>
                                <h3><a href="~/AboutUs/Organization?cate_id=@OutWeb.App_GlobalResources.Res.MenuOrg_people&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.org_people</a></h3>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    <a href="~/JoinUs?langCode=@OutWeb.App_GlobalResources.Res.lang">
                        @OutWeb.App_GlobalResources.Res.nav_joinUs
                    </a>
                </h1>
                <ul class="list-unstyled">
                    <li>
                        <h2><a href="~/JoinUs/Apply?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.joinUs_apply</a></h2>
                    </li>
                    <li>
                        <h2><a href="~/JoinUs/Consult?id=2&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.joinUs_consult</a></h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3>
                                    <a class="state" href="~/JoinUs/Consult?id=@OutWeb.App_GlobalResources.Res.MenuState_yilan&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.consult_yilan</a>
                                    <a class="state" href="~/JoinUs/Consult?id=@OutWeb.App_GlobalResources.Res.consult_taipei&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.consult_taipei</a>
                                </h3>
                            </li>
                            <li>
                                <h3>
                                    <a class="state" href="~/JoinUs/Consult?id=@OutWeb.App_GlobalResources.Res.consult_hsinchu&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.consult_hsinchu</a>
                                    <a class="state" href="~/JoinUs/Consult?id=@OutWeb.App_GlobalResources.Res.consult_taichung&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.consult_taichung</a>
                                </h3>
                            </li>
                            <li>
                                <h3>
                                    <a class="state" href="~/JoinUs/Consult?id=@OutWeb.App_GlobalResources.Res.consult_tainan&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.consult_tainan</a>
                                    <a class="state" href="~/JoinUs/Consult?id=@OutWeb.App_GlobalResources.Res.consult_kaohsiung&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.consult_kaohsiung</a>
                                </h3>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2><a href="~/JoinUs/Live?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.joinUs_joinCollege</a></h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3>
                                    <a href="~/JoinUs/Live?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.joinUs_live</a>
                                </h3>
                            </li>
                            <li>
                                <h3>
                                    <a href="~/JoinUs/Schedule?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.joinUs_schedule</a>
                                </h3>
                            </li>
                            <li>
                                <h3>
                                    <a href="~/JoinUs/Gallery?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.joinUs_gallery</a>
                                </h3>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <h1>
                    <a href="~/News?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news</a>
                </h1>
                <ul class="list-unstyled">
                    <li>
                        <h2><a href="~/News/EventLatest?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_event</a></h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3><a href="~/News/EventLatest?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_eventLatest</a></h3>
                            </li>
                            <li>
                                <h3><a href="~/News/EventStatesCategory?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_eventStatesCategory</a></h3>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2><a href="~/News/AnnouncementLatest?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_announLatest</a></h2>
                        <ul class="list-unstyled">
                            <li>
                                <h3><a href="~/News/AnnouncementList?typeID=@OutWeb.App_GlobalResources.Res.MenuAnnList_news_centralNews&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_centralNews</a></h3>
                            </li>
                            <li>
                                <h3><a href="~/News/AnnouncementList?typeID=@OutWeb.App_GlobalResources.Res.MenuAnnList_news_centralAnnounce&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_centralAnnounce</a></h3>
                            </li>
                            <li>
                                <h3><a href="~/News/AnnouncementList?typeID=@OutWeb.App_GlobalResources.Res.MenuAnnList_news_centralStatement&langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_centralStatement</a></h3>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h2><a href="~/News/FocusCategory?langCode=@OutWeb.App_GlobalResources.Res.lang">@OutWeb.App_GlobalResources.Res.news_focusCategory</a></h2>
                    </li>
                </ul>
            </li>
            <li>
                <h1 class="sr-only">
                    @OutWeb.App_GlobalResources.Res.link
                </h1>
                <ul class="list-unstyled">
                    <li class="mt-0">
                        <h2 class="text">@OutWeb.App_GlobalResources.Res.spokesman_w<br>@OutWeb.App_GlobalResources.Res.spokesman_p</h2>
                    </li>
                    <li>
                        <h2><a href="https://www.facebook.com/TaiwanCivilGovernment/" target="new">@OutWeb.App_GlobalResources.Res.fbPage_1</a></h2>
                    </li>
                    <li>
                        <h2><a href="https://www.facebook.com/usmgtcgov.tw/" target="new">@OutWeb.App_GlobalResources.Res.fbPage_2</a></h2>
                    </li>
                    <li>
                        <h2><a href="http://usmgtcg.ning.com/" target="new">@OutWeb.App_GlobalResources.Res.pre_site</a></h2>
                    </li>
                    <li>
                        <h2><a href="http://taiwancivilgovernment.com/events" target="new">@OutWeb.App_GlobalResources.Res.WV_site</a></h2>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <nav id="search" class="popup">
        <button class="search-trigger oi" data-glyph="x"></button>
        @* 全文檢索: 找標題/內文 關鍵字 *@
        <form class="search-form" action="~/Home/Search">
            <input type="text" class="form-element" name="str" placeholder="@OutWeb.App_GlobalResources.Res.searchText">
            <input type="text" class="form-element" name="langCode" value="@OutWeb.App_GlobalResources.Res.lang" hidden>
            <button>
                <i class="icon-search"></i> @OutWeb.App_GlobalResources.Res.search
            </button>
        </form>
    </nav>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script>

        // search
        $(".search-trigger").click(function () {
            $("#search").fadeToggle();
            $("body").toggleClass("overlay");
        });

        // sitemap
        $(".sitemap-trigger").click(function () {
            $("#sitemap").fadeToggle();
            $("body").toggleClass("overlay");
        });
        // $("#sitemap a").click(function(){
        //     // 同一頁換tab需重載頁面
        //     location.reload();
        // });

        // 點 Popup 空白處可以關閉
        $(".popup").click(function () {
            $(this).fadeOut();
            $("body").removeClass("overlay");
        });
        $(".popup li a, .popup > form").click(function (e) {
            e.stopPropagation();
        });
    </script>

    @* GA *@
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32942313-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    @if (!ViewBag.IsFirstPage)
    {
        <!-- waypoints scrolling detector -->
        <script src="~/Content/js/jquery.waypoints.min.js"></script>
        <script>
            // 卷軸卷動效果
            $('#menu').waypoint(function (direction) {
                if (direction === 'down') {
                    $('body').addClass('scrolled');
                    $('.goTop').fadeIn();
                }
                else if (direction === 'up') {
                    $('body').removeClass('scrolled');
                    $('.goTop').fadeOut();
                }
            }, { offset: -1 });

            // 點選後跳到 href 指向的位置
            $('.scroll').click(function () {
                var scrollToAnchor = $(this).attr('href');
                $('html, body').stop(true).animate({
                    scrollTop: $(scrollToAnchor).offset().top - 40
                }, 750);
                return false;
            });

            // table-rwd
            $(".editor table").wrap("<div class='table-rwd'></div>");
        </script>

        <!-- addThis share btn -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a72b8d4c87ca24b"></script>
    }

    @RenderSection("scripts", required: false)

</body>
</html>
