<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>@ViewBag.Title - 台灣民政府 Taiwan Civil Government</title>
    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/vendor/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <!-- <link rel="stylesheet" href="~/Content/css/vendor/swiper.min.css"> -->
@if (ViewBag.IsFirstPage)
{
    <link rel="stylesheet" href="~/Content/css/index.css">
}
else
{
    <link rel="stylesheet" href="~/Content/css/page.css">
}
    @RenderSection("css", false)
</head>
<body class="@ViewBag.BodyClass">
    <div id="wrapper">

        <header id="header">
            <div class="wrap">
                <ul class="topNav list-inline">
                    <li class="lang"><a href="">English</a></li>
                    <li class="lang"><a href="">日本語</a></li>
                    <li class="search">
                        <i class="oi" data-glyph="magnifying-glass"></i>
                    </li>
                    <li class="share">
                        <a href="#">
                            <i class="oi" data-glyph="share"></i>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="#">
                            <i class="oi" data-glyph="menu"></i>
                            MENU
                        </a>
                    </li>
                </ul>

                <h1 class="logo">
                    <a href="~/Home" title="回首頁">台灣民政府 Taiwan Civil Government</a>
                </h1>
            </div>

            @if (ViewBag.IsFirstPage) {
                <nav id="menu">
                    <a href="~/AboutUs">
                        <i class="icon-about"></i>
                        什麼是<br>台灣民政府
                    </a>
                    <a href="~/JoinUs">
                        <i class="icon-join-us"></i>
                        如何加入<br>台灣民政府
                    </a>
                    <a href="~/News">
                        <i class="icon-news"></i>
                        最新訊息
                    </a>
                </nav>
            }
            else {
                <section id="banner"></section>
                <nav id="menu" class="wrap">
                    <a class="@(ViewBag.BodyClass.Contains("AboutUs") ? "current" : "")" href="~/AboutUs">
                        <i class="icon-about"></i>
                        什麼是台灣民政府
                    </a>
                    <a class="@(ViewBag.BodyClass.Contains("JoinUs") ? "current" : "")" href="~/JoinUs">
                        <i class="icon-join-us"></i>
                        如何加入台灣民政府
                    </a>
                    <a class="@(ViewBag.BodyClass.Contains("News") ? "current" : "")" href="~/News">
                        <i class="icon-news"></i>
                        最新訊息
                    </a>

                    <ul class="submenu list-unstyled">
                        <li class="@(ViewBag.BodyClass.Contains("AboutUs") ? "" : "hidden")">
                            <a class="@(ViewBag.BodyClass.Contains("TCG") ? "current" : "")" href="~/AboutUs/TCG">什麼是台灣民政府</a>
                            <a class="@(ViewBag.BodyClass.Contains("Profile") ? "current" : "")" href="~/AboutUs/Position">關於我們</a>
                            <a class="@(ViewBag.BodyClass.Contains("Education") ? "current" : "")" href="~/AboutUs/EducationCategory">教育專欄</a>
                            <a class="@(ViewBag.BodyClass.Contains("Organization") ? "current" : "")" href="~/AboutUs/Organization">行政區域圖&amp;組織架構</a>
                        </li>
                        <li class="@(ViewBag.BodyClass.Contains("JoinUs") ? "" : "hidden")">
                            <a class="@(ViewBag.BodyClass.Contains("Apply") ? "current" : "")" href="~/JoinUs/Apply">申請民政府身分證</a>
                            <a class="@(ViewBag.BodyClass.Contains("Consult") ? "current" : "")" href="~/JoinUs/Consult">地方服務處諮詢</a>
                            <a class="@(ViewBag.BodyClass.Contains("School") ? "current" : "")" href="~/JoinUs/School">參加台灣法理學院</a>
                        </li>
                        <li class="@(ViewBag.BodyClass.Contains("Bulletin") ? "" : "hidden")">
                            <a class="@(ViewBag.BodyClass.Contains("Latest") ? "current" : "")" href="~/Bulletin/Latest">最新訊息</a>
                            <a class="@(ViewBag.BodyClass.Contains("Event") ? "current" : "")" href="~/Bulletin/EventLatest">活動寫真</a>
                            <a class="@(ViewBag.BodyClass.Contains("News") ? "current" : "")" href="~/Bulletin/NewsLatest">新聞 公告 聲明</a>
                            <a class="@(ViewBag.BodyClass.Contains("News") ? "current" : "")" href="~/Bulletin/FocusCategory">新聞 公告 聲明</a>
                        </li>
                    </ul>
                </nav>
            }
        </header>

        @if (ViewBag.IsFirstPage) {
            @RenderBody()
        }
        else {
            <main id="main" class="wrap">
                <ul class="breadcrumb">
                    <li><a href="~/Index"><i class="oi" data-glyph="home"></i></a></li>
                    @RenderSection("breadcrumb", false)
                </ul>
                @RenderBody()
            </main>
        }

    </div><!-- wrapper //-->

    @if (!ViewBag.IsFirstPage) {

        <a href="#header" class="goTop oi" data-glyph="chevron-top" title="TOP"></a>

        <footer id="footer">
            <div class="wrap">
                <div class="copyright pull-left">
                    <strong>台灣民政府 中央會館</strong> Central Government Headquarters &copy; 2017
                </div>
                <nav class="foot-nav pull-right">
                    <span>新竹州桃園郡33391龜山鄉員林坑路100-1號</span>
                    <span>(03) 355-6363</span>
                </nav>
            </div>
        </footer><!-- footer //-->

    }

    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script src="~/Content/js/jquery.waypoints.min.js"></script> -->
    <script>
        // 卷軸卷動效果
        // $('body').waypoint(function(direction) {
        //     if( direction === 'down' ) {
        //         $('body').addClass('scrolled');
        //         $('.goTop').fadeIn();
        //     }
        //     else if( direction === 'up' ){
        //         $('body').removeClass('scrolled');
        //         $('.goTop').fadeOut();
        //     }
        // }, { offset: -1 } );

        // 點選後跳到 href 指向的位置
        $('.scroll').click(function () {
            var scrollToAnchor = $(this).attr('href');
            $('html, body').stop(true).animate({
                scrollTop: $(scrollToAnchor).offset().top - 40
            }, 750);
            return false;
        });
        $('.goTop').click(function () {
            $('body, html').stop(true).animate({ scrollTop: 0 }, 800);
            return false;
        });

        // dropdown
        var $dropbtn = $(".dropdown-toggle"),
            dropcontent = ".dropdown-content";
        $dropbtn.click(function(event){
            event.stopPropagation();
            $(this).next(dropcontent).slideToggle("300");
        });
        $(window).click(function() {
            //Hide the menus if visible
            $(dropcontent).slideUp("500")
        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
