@{
    ViewBag.mainName = "TCG 台灣民政府 管理系統";
    string ManagePath = "~/_SysAdm";
    string HomePath = "~/Home";
    string usr_info = "";
    string usr_auth = "";
    string show1 = "";
    string show2 = "";
    string show3 = "";
    string show4 = "";
    string show5 = "";
    string show6 = "";
    string show7 = "";
    string show8 = "";
    string show9 = "";
    string show10 = "";
    string show11 = "";
    string show12 = "";
    string show13 = "";
    string show14 = "";
    string show15 = "";
    string show16 = "";
    string show17 = "";
    string show18 = "";
    string show19 = "";
    string show20 = "";
    string show21 = "";
    string show22 = "";
    //string show23 = "";
    if (Convert.ToString(Session["IsLogined"]) == "Y")
    {
        usr_info = Convert.ToString(Session["Account"]) + "(" + Convert.ToString(Session["usr_name"]) + ")";
        usr_auth = Convert.ToString(Session["grp_auth"]);

        if(usr_auth.Length > 0)
        {
            show1 = usr_auth.Substring(0, 1) == "0" ? "0" : usr_auth.Substring(0, 1);
            show2 = usr_auth.Substring(1, 1) == "0" ? "0" : usr_auth.Substring(1, 1);
            show3 = usr_auth.Substring(2, 1) == "0" ? "0" : usr_auth.Substring(2, 1);
            show4 = usr_auth.Substring(3, 1) == "0" ? "0" : usr_auth.Substring(3, 1);
            show5 = usr_auth.Substring(4, 1) == "0" ? "0" : usr_auth.Substring(4, 1);
            show6 = usr_auth.Substring(5, 1) == "0" ? "0" : usr_auth.Substring(5, 1);
            show7 = usr_auth.Substring(6, 1) == "0" ? "0" : usr_auth.Substring(6, 1);
            show8 = usr_auth.Substring(7, 1) == "0" ? "0" : usr_auth.Substring(7, 1);
            show9 = usr_auth.Substring(8, 1) == "0" ? "0" : usr_auth.Substring(8, 1);
            show10 = usr_auth.Substring(9, 1) == "0" ? "0" : usr_auth.Substring(9, 1);
            show11 = usr_auth.Substring(10, 1) == "0" ? "0" : usr_auth.Substring(10, 1);
            show12 = usr_auth.Substring(11, 1) == "0" ? "0" : usr_auth.Substring(11, 1);
            show13 = usr_auth.Substring(12, 1) == "0" ? "0" : usr_auth.Substring(12, 1);
            show14 = usr_auth.Substring(13, 1) == "0" ? "0" : usr_auth.Substring(13, 1);
            show15 = usr_auth.Substring(14, 1) == "0" ? "0" : usr_auth.Substring(14, 1);
            show16 = usr_auth.Substring(15, 1) == "0" ? "0" : usr_auth.Substring(15, 1);
            show17 = usr_auth.Substring(16, 1) == "0" ? "0" : usr_auth.Substring(16, 1);
            show18 = usr_auth.Substring(17, 1) == "0" ? "0" : usr_auth.Substring(17, 1);
            show19 = usr_auth.Substring(18, 1) == "0" ? "0" : usr_auth.Substring(18, 1);
            show20 = usr_auth.Substring(19, 1) == "0" ? "0" : usr_auth.Substring(19, 1);
            show21 = usr_auth.Substring(20, 1) == "0" ? "0" : usr_auth.Substring(20, 1);
            show22 = usr_auth.Substring(21, 1) == "0" ? "0" : usr_auth.Substring(21, 1);
        }

    }

}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.mainName</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed">
    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>-->

    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/login.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/admin.css">
    }
    @*@Scripts.Render("~/bundles/js")*@

    @* 引用 jQuery *@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @* 引用 BootStrap *@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("IncludeCSS", false)


    @RenderSection("css", false)
</head>

<body>
    <div class="wrapper">
        @if (!ViewBag.IsFirstPage)
        {
            if (Convert.ToString(Session["IsLogined"]) != "Y")
            {
                Response.Redirect(Url.Content(ManagePath));
            }
            else
            {
                <header id="header">
                    <h1 class="site-title">
                        <a href="@Url.Content(ManagePath + "/Dashboard")" title="回管理系統首頁" tabindex="-1">
                            <font color="white">@ViewBag.mainName</font>
                        </a>
                    </h1>
                    <nav class="navbar">
                        <span class="nav-link">登入身份: @usr_info</span>
                        <a href="@Url.Content(HomePath)" class="nav-link oi home" data-glyph="home">
                            回首頁
                        </a>
                        <a href="@Url.Content(ManagePath + "/Logout")" class="nav-link oi logout" data-glyph="power-standby">
                            登出
                        </a>
                    </nav>
                </header><!-- header //-->
            }
        }
        <main id="main">
            @if (ViewBag.IsFirstPage)
            {
                @RenderBody()
            }
            else
            {
                <div id="content" class="font-md">
                    @RenderSection("Breadcrumb", false)
                    @RenderBody()
                </div><!-- content //-->

                <aside id="sidebar">
                    <h6 class="oi" data-glyph="menu">功能選單 MENU</h6>
                    @if (show1 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "AboutUs" ? "active" : "")' data-glyph="globe">認識台灣民政府</header>
                        <nav class='collapse-content @(ViewBag.subnav == "AboutUs" ? "in" : "")'>
                            <!-- <a href="~/_SysAdm/AboutUs_Cate_List" class='@(ViewBag.subnav2 == "AboutUs_Cate" ? "active" : "")'>主頁管理</a> -->
                            @if (show2 != "0")
                            {
                                <a href="~/_SysAdm/AboutUs_List" class='@(ViewBag.subnav2 == "AboutUs_List" ? "active" : "")'>分頁管理</a>
                            }
                        </nav>
                    }
                    @if (show3 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "Edu" ? "active" : "")' data-glyph="book">教育專欄</header>
                        <nav class='collapse-content @(ViewBag.subnav == "Edu" ? "in" : "")'>
                            @if (show4 != "0")
                            {
                                <a href="~/_SysAdm/Edu_Cate_List" class='@(ViewBag.subnav2 == "Edu_Cate" ? "active" : "")'>分類管理</a>
                            }
                            @if (show5 != "0")
                            {
                                <a href="~/_SysAdm/Edu_List" class='@(ViewBag.subnav2 == "Edu_List" ? "active" : "")'>文章管理</a>
                            }

                        </nav>

                    }
                    @if (show6 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "JoinUs" ? "active" : "")' data-glyph="people">加入台灣民政府</header>
                        <nav class='collapse-content @(ViewBag.subnav == "JoinUs" ? "in" : "")'>
                            <!-- <a href="~/_SysAdm/JoinUs_Cate_List" class='@(ViewBag.subnav2 == "JoinUs_Cate" ? "active" : "")'>主頁管理</a> -->
                            @if (show7 != "0")
                            {
                                <a href="~/_SysAdm/JoinUs_List" class='@(ViewBag.subnav2 == "JoinUs_List" ? "active" : "")'>分頁管理</a>
                            }
                        </nav>

                    }
                    @if (show8 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "School" ? "active" : "")' data-glyph="home">法理學院</header>
                        <nav class='collapse-content @(ViewBag.subnav == "School" ? "in" : "")'>
                            @if (show9 != "0")
                            {
                                <a href="~/_SysAdm/School_Video_List" class='@(ViewBag.subnav2 == "School_Video" ? "active" : "")'>課堂直播</a>
                            }

                            <!-- <a href="~/_SysAdm/School_Cate_List" class='@(ViewBag.subnav2 == "School_Cate_List" ? "active" : "")'>班級管理</a> -->
                            @if (show10 != "0")
                            {
                                <a href="~/_SysAdm/School_List" class='@(ViewBag.subnav2 == "School_List" ? "active" : "")'>歷屆合照</a>
                            }
                        </nav>

                    }
                    @if (show11 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "Event" ? "active" : "")' data-glyph="image">活動寫真</header>
                        <nav class='collapse-content @(ViewBag.subnav == "Event" ? "in" : "")'>
                            @if (show12 != "0")
                            {
                                <a href="~/_SysAdm/Activity_List" class='@(ViewBag.subnav2 == "Activity_List" ? "active" : "")' style="visibility:@show12;">中央活動</a>
                            }
                            @if (show13 != "0")
                            {
                                <a href="~/_SysAdm/States_List" class='@(ViewBag.subnav2 == "States_List" ? "active" : "")'>各州活動</a>
                            }
                            <!-- <a href="~/_SysAdm/States_Cate_List" class='@(ViewBag.subnav2 == "States_Cate_List" ? "active" : "")'>各州資料</a> -->
                            @if (show14 != "0")
                            {
                                <a href="~/_SysAdm/States_Video_List" class='@(ViewBag.subnav2 == "States_Video_List" ? "active" : "")'>各州直播網址</a>
                            }
                            <!--<a href="~/_SysAdm/StatesVideoList" class='@(ViewBag.subnav2 == "StatesVideo" ? "active" : "")'>各州直播網址</a>-->
                        </nav>
                    }
                    @if (show15 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "News" ? "active" : "")' data-glyph="bell">新聞公告聲明</header>
                        <nav class='collapse-content @(ViewBag.subnav == "News" ? "in" : "")'>
                            <!-- <a href="~/_SysAdm/News_Cate_List" class='@(ViewBag.subnav2 == "News_Cate" ? "active" : "")'>分類管理</a> -->
                            @if (show16 != "0")
                            {
                                <a href="~/_SysAdm/News_List" class='@(ViewBag.subnav2 == "News_List" ? "active" : "")'>文章管理</a>
                            }
                        </nav>
                    }
                    @if (show17 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "Focus" ? "active" : "")' data-glyph="eye">焦點專欄</header>
                        <nav class='collapse-content @(ViewBag.subnav == "Focus" ? "in" : "")'>
                            @if (show18 != "0")
                            {
                                <a href="~/_SysAdm/Focus_Cate_List" class='@(ViewBag.subnav2 == "Focus_Cate" ? "active" : "")'>分類管理</a>
                            }
                            @if (show19 != "0")
                            {
                                <a href="~/_SysAdm/Focus_List" class='@(ViewBag.subnav2 == "Focus_List" ? "active" : "")'>文章管理</a>
                            }
                        </nav>
                    }
                    @if (show20 != "0")
                    {
                        <header class='collapse-toggle oi @(ViewBag.subnav == "Setting" ? "active" : "")' data-glyph="cog">系統設定</header>
                        <nav class='collapse-content @(ViewBag.subnav == "Setting" ? "in" : "")'>
                            @if (show21 != "0")
                            {
                                <a href="~/_SysAdm/User_List" class='@(ViewBag.subnav2 == "User_List" ? "active" : "")'>使用者管理</a>
                            }
                            @if (show22 != "0")
                            {
                                <a href="~/_SysAdm/ChangePW" class='@(ViewBag.subnav2 == "ChangPW" ? "active" : "")'>變更密碼</a>
                            }
                        </nav>
                    }
                </aside><!-- sidebar //-->
            }
        </main><!-- main //-->
    </div><!-- wrapper //-->
    @if (ViewBag.IsFirstPage)
    {
        <footer id="footer" class="text-muted">
            <div class="copyright font-sp">Powered By <a class="hover-info" href="http://www.jcin.com.tw" target="new">JCIN INFORMATION CO.</a></div>
            <small>本網站適用 Chrome, firefox, IE10.0+, 最佳瀏覽解析度為 1280*800 以上</small>
        </footer><!-- footer //-->
    }

    @* 客戶的分析工具 *@
    <!-- <script type="text/javascript" src="http://jj.revolvermaps.com/b.js">
    </script>
    <script type="text/javascript">
        rmb_ki101('9lbmgekfbtl', '', '40', '40', 1, 'ffffff', '010020', 'aa0000');
    </script> -->

    @if (!ViewBag.IsFirstPage)
    {
        <script>
            // 左選單縮放特效
            var $collapse = $('.collapse-toggle');
            var fall = '.collapse-content';

            $collapse.click(function (e) {
                $(this).addClass('active').next(fall).slideToggle();
                $(this).siblings().removeClass('active').next(fall).slideUp();
                // event.preventDefault();
            });
        </script>
    }
    @RenderSection("IncludeScript", false)
    @RenderSection("scripts", false)
</body>
</html>