@{
    ViewBag.mainName = "TCG 台灣民政府 管理系統";
    string ManagePath = "~/_SysAdm";
    string HomePath = "~/Home";
}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.mainName</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed">
    <link rel="stylesheet" href="~/Content/css/vendor/open-iconic.css">
    <link rel="stylesheet" href="~/Content/css/grid.css">
    <!--<script src="~/Scripts/jquery-1.10.2.min.js"></script>-->

    @if (ViewBag.IsFirstPage)
    {
        <link rel="stylesheet" href="~/Content/css/login.css">
    }
    else
    {
        <link rel="stylesheet" href="~/Content/css/admin.css">
    }
    @Scripts.Render("~/bundles/js")

    @* 引用 jQuery *@
    <script src="//code.jquery.com/jquery-latest.min.js"></script>

    @RenderSection("IncludeCSS", false)


    @RenderSection("css", false)
</head>

<body>

    <div class="wrapper">
        @if (!ViewBag.IsFirstPage)
        {
            if (Convert.ToString(Session["IsLogined"]) != "Y")
            {
                Response.Redirect(Url.Content(ManagePath));
            }
            else
            {
                <header id="header">
                    <h1 class="site-title">
                        <a href="@Url.Content(ManagePath)" title="回登入首頁" tabindex="-1">
                            <font color="white">@ViewBag.mainName</font>
                        </a>
                    </h1>

                    <nav class="navbar">
                        <span class="nav-link">登入身份: @Convert.ToString(Session["Account"])</span>

                        <a href="@Url.Content(HomePath)" class="nav-link oi home" data-glyph="home">
                            回首頁
                        </a>

                        <a href="@Url.Content(ManagePath + "/Logout")" class="nav-link oi logout" data-glyph="power-standby">
                            登出
                        </a>
                    </nav>
                </header><!-- header //-->
            }
        }

        <main id="main">

            @if (ViewBag.IsFirstPage)
            {
                @RenderBody()
            }
            else
            {
                <div id="content" class="font-md">
                    @RenderSection("Breadcrumb", false)
                    @RenderBody()
                </div><!-- content //-->

                <aside id="sidebar">
                    <h6 class="oi" data-glyph="menu">功能選單 MENU</h6>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "AboutUs" ? "active" : "")' data-glyph="globe">什麼是台灣民政府</header>
                    <nav class='collapse-content @(ViewBag.subnav == "AboutUs" ? "in" : "")'>
                        <!-- <a href="~/_SysAdm/AboutUs_Cate_List" class='@(ViewBag.subnav2 == "AboutUs_Cate" ? "active" : "")'>主頁管理</a> -->
                        <a href="~/_SysAdm/AboutUs_List" class='@(ViewBag.subnav2 == "AboutUs_List" ? "active" : "")'>分頁管理</a>
                    </nav>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "Edu" ? "active" : "")' data-glyph="globe">教育專欄</header>
                    <nav class='collapse-content @(ViewBag.subnav == "Edu" ? "in" : "")'>
                        <a href="~/_SysAdm/Edu_Cate_List" class='@(ViewBag.subnav2 == "Edu_Cate" ? "active" : "")'>分類管理</a>
                        <a href="~/_SysAdm/Edu_List" class='@(ViewBag.subnav2 == "Edu_List" ? "active" : "")'>文章管理</a>
                    </nav>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "JoinUs" ? "active" : "")' data-glyph="person">加入台灣民政府</header>
                    <nav class='collapse-content @(ViewBag.subnav == "JoinUs" ? "in" : "")'>
                        <!-- <a href="~/_SysAdm/JoinUs_Cate_List" class='@(ViewBag.subnav2 == "JoinUs_Cate" ? "active" : "")'>主頁管理</a> -->
                        <a href="~/_SysAdm/JoinUs_List" class='@(ViewBag.subnav2 == "JoinUs_List" ? "active" : "")'>分頁管理</a>
                    </nav>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "School" ? "active" : "")' data-glyph="person">法理學院</header>
                    <nav class='collapse-content @(ViewBag.subnav == "School" ? "in" : "")'>
                        <a href="~/_SysAdm/SchoolVideo" class='@(ViewBag.subnav2 == "SchoolVideo" ? "active" : "")'>課堂直播</a>
                        <a href="~/_SysAdm/SchoolDataList" class='@(ViewBag.subnav2 == "SchoolData" ? "active" : "")'>歷屆合照</a>
                    </nav>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "Event" ? "active" : "")' data-glyph="image">活動寫真</header>
                    <nav class='collapse-content @(ViewBag.subnav == "Event" ? "in" : "")'>
                        <a href="~/_SysAdm/EventHistoryList" class='@(ViewBag.subnav2 == "EventHistory" ? "active" : "")'>最新活動</a>
                        <a href="~/_SysAdm/EventStatesList" class='@(ViewBag.subnav2 == "EventStates" ? "active" : "")'>各州活動</a>
                        <a href="~/_SysAdm/StatesVideoList" class='@(ViewBag.subnav2 == "StatesVideo" ? "active" : "")'>各州直播網址</a>
                    </nav>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "News" ? "active" : "")' data-glyph="eye">最新消息</header>
                    <nav class='collapse-content @(ViewBag.subnav == "News" ? "in" : "")'>
                        <a href="~/_SysAdm/News_Cate_List" class='@(ViewBag.subnav2 == "News_Cate" ? "active" : "")'>分類管理</a>
                        <a href="~/_SysAdm/News_List" class='@(ViewBag.subnav2 == "News_List" ? "active" : "")'>文章管理</a>
                    </nav>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "Focus" ? "active" : "")' data-glyph="eye">焦點專欄管理</header>
                    <nav class='collapse-content @(ViewBag.subnav == "Focus" ? "in" : "")'>
                        <a href="~/_SysAdm/Focus_Cate_List" class='@(ViewBag.subnav2 == "Focus_Cate" ? "active" : "")'>分類管理</a>
                        <a href="~/_SysAdm/Focus_List" class='@(ViewBag.subnav2 == "Focus_List" ? "active" : "")'>文章管理</a>
                    </nav>

                    <header class='collapse-toggle oi @(ViewBag.subnav == "Setting" ? "active" : "")' data-glyph="cog">系統設定</header>
                    <nav class='collapse-content @(ViewBag.subnav == "Setting" ? "in" : "")'>
                        <a href="~/_SysAdm/ChangePW" class='@(ViewBag.subnav2 == "ChangPW" ? "active" : "")'>變更密碼</a>
                    </nav>
                </aside><!-- sidebar //-->
            }

        </main><!-- main //-->

    </div><!-- wrapper //-->

    @if (ViewBag.IsFirstPage) {
        <footer id="footer" class="text-muted">
            <div class="copyright font-sp">Powered By <a class="hover-info" href="http://www.jcin.com.tw" target="new">JCIN INFORMATION CO.</a></div>
            <small>本網站適用 Chrome, firefox, IE10.0+, 最佳瀏覽解析度為 1280*800 以上</small>
        </footer><!-- footer //-->
    }

    @if (!ViewBag.IsFirstPage)
    {
        <script>
            // 左選單縮放特效
            var $collapse = $('.collapse-toggle');
            var fall = '.collapse-content';

            $collapse.click(function (e) {
                $(this).addClass('active').next(fall).slideToggle();
                $(this).siblings().removeClass('active').next(fall).slideUp();
                // event.preventDefault();
            });
        </script>
    }
    @RenderSection("IncludeScript", false)
    @RenderSection("scripts", false)
</body>
</html>